@import url("/fullpage/layout/traditional/css/S36FullpageLayoutTraditionResponsive.css");
@charset "utf-8";
/* CSS Document 
 
 Date: 12-12-12
 Author: Dan Oliver Calpatura
 Description: This CSS is exclusively written for the traditional layout of 36Stories Hosted Pages.
 
*/
::selection {
	background: #1e6a92; /* Safari */
	color:#FFF;
	text-shadow:#1c5573 0px 1px;
	}
::-moz-selection {
	background: #1e6a92; /* Firefox */
	color:#FFF;
	text-shadow:#1c5573 0px 1px;
}
#threeColumnLayout{
	padding-bottom:30px;
}

.feedback-block{
	display:block;
}

/* regular featured feedback */
.feedback{
	margin:0px 0px 0px 0px;
	max-width:849px;
}
.feedback:first-child{
	border-top:1px solid #e5e5e5;
}
.regular-featured{
	background:#fbffd9;
}
.regular-featured .regular-featured-contents{
	padding:25px 35px 0px 35px;
}
.regular .regular-contents{
	padding:25px 0px 0px 0px;
}
#fadedContainer{
	max-width:896px !important;
}
#mainContainer{
	margin-left:23px !important;
	margin-right:23px !important;
}
/* regular feedbacks */
.regular .author-avatar{
	float:left;
	width:48px;
}
.regular .author-information{
	margin-left:60px;
}
.regular .author-information .author-name{
	color:#11508d;
	font-size:22px;
	font-weight:bold;
	margin-bottom:2px;
}
.regular .author-information .author-company{
	color:#91979b;
	font-size:11px;
	margin-bottom:2px;
}
.regular .author-information .author-location{
	color:#92b1c3;
	font-size:11px;
	float:left;
	margin-bottom:4px;	
}
.regular .author-information .author-location{
	
}
.regular h1{
	color:#323232;
	font-size:18px;
	margin-bottom:10px;
}
.regular .feedback-text{
	font-size:12px;
}
.regular .feedback-text p{
	color:#323232;
	font-size:12px;
	margin-bottom:12px;
	line-height:1.6em;
}
.regular-contents{
	margin-bottom:0px;
}
.regular .reviews{
	position:absolute;
	right:0px;
	top:0px;
}
.regular .ratings .stars{
	float:right;
	margin-bottom:5px;
}
.regular .feedback-timestamp{
	display:block;
	clear:both;
	text-align:right;
	color:#92b1c3;
	font-size:11px;
	margin-bottom:3px;
}
.regular .rating-stat{
	text-align:right;
	color:#629bbb;
	font-size:11px;
}
.regular .feedback-text-bubble{
	margin:10px 0px 0px;
}
.regular .custom-meta-data{
	margin-bottom:5px;
}
.regular-featured .additional-contents{
	padding:20px 0px;
	text-align:center;
	border-top:dashed 1px #d6d0be;
	border-bottom:dashed 1px #d6d0be;	
}
.regular .additional-contents{
	padding:5px 0px;
	text-align:center;
}

.uploaded-image{
	display:inline-block;
	width:200px;
}
.uploaded-link{
	width:608px;
	margin:0 auto;
}
.video-thumb{
	float:left;
	width:150px;
}
.video-details{
	text-align:left;
	margin-left:160px;
}
.video-details h3{
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;
}
.video-details p{
	line-height:1.4em;
}
.regular .feedback-options{
	margin-left:-35px;
	margin-right:-35px;	
	padding:10px 0px;
	background:#FFF;
	border-bottom:1px dotted #CCC;
}
.regular .feedback-options{
	margin:0px;
	padding:10px 0px;
	background:#FFF;
}
.feedback-recommendation{
	float:left;
}
.feedback-actions{
	float:right;
	text-align:right;
	font-size:11px;
	margin-top:5px;
}
.feedback-actions span{
	margin-left:10px;
}
.feedback-vote{
	margin-top:5px;
	float:left;
	text-align:left;
	margin-left:10px;
}
.vote-action{
	color:#4ea6c6;
}
.flag-as{
	color:#455b61;
	background:url(/fullpage/common/img/ico-flag.png) no-repeat;
	background-position:center left;
	padding-left:17px;
	cursor:pointer;
}
.share-button{
	color:#455b61;
	background:url(/fullpage/common/img/ico-share.png) no-repeat;
	background-position:center left;
	padding-left:17px;
	cursor:pointer;
}
.custom-meta-data .meta-data{float:left;margin-right:10px;}
.custom-meta-data .meta-name{color:#6499cd;font-weight:bold;font-size:11px;}
.custom-meta-data .meta-value{color:#a2a2a2;font-weight:normal;font-size:11px;}

.regular-featured .feedback-header{
	margin-top:20px;
	width:200px;
	float:left;
}
.regular-featured .author-information .author-name{
	color:#11508d;
	font-size:22px;
	font-weight:bold;
	margin-bottom:2px;
	margin-top:6px;
}
.regular-featured .author-information .author-company{
	color:#4b4949;
	font-size:14px;
	margin-bottom:5px;
}
.regular-featured .author-information .author-location{
	color:#92b1c3;
	font-size:12px;
	float:left;
	margin-bottom:5px;	
}
.regular-featured .additional-contents{
	margin:10px 35px 30px;
}
.regular-featured .custom-meta-data .meta-data{
	display:block;
	float:none;
}
.regular-featured .author-information .author-location{
	
}
.regular-featured .feedback-text-bubble{
	margin-left:220px;
}

.regular-featured .reviews{
	position:absolute;
	right:20px;
	top:20px;
}
.regular-featured .ratings .stars{
	float:right;
	margin-bottom:5px;
}
.regular-featured .feedback-timestamp{
	display:block;
	clear:both;
	text-align:right;
	color:#92b1c3;
	font-size:11px;
	margin-bottom:3px;
	float:none;
}
.regular-featured .rating-stat{
	text-align:right;
	color:#629bbb;
	font-size:11px;
}
.regular-featured .feedback-text-bubble{
	margin-top:30px;
}
.regular-featured h1{
	color:#323232;
	font-size:22px;
	margin-bottom:10px;
}
.regular-featured .feedback-text{
	font-size:12px;
}
.regular-featured .feedback-text p{
	color:#323232;
	font-size:14px;
	margin-bottom:12px;
	line-height:1.6em;
}
.regular-featured .feedback-options{
	margin-left:0px;
	margin-right:0px;	
	padding:10px 0px;
	background:#FFF;
	border-bottom:1px dotted #CCC;
}
.regular-featured{

}
.regular .stars .star {
	width: 16px;
	margin-right: 2px;
	background: url(/fullpage/common/img/rating-stars-small.png) bottom center;
	background-repeat: no-repeat;
	height: 15px;
	float: left;
}
.regular .stars .star.full {
	background-position: top;
}
.regular .stars .star.empty {
	background-position: bottom;
}
.regular-featured .stars {
	width: 130px;
	display: block;
	text-align: left;
}
.regular-featured .stars .star{
	width: 24px;
	margin-right: 2px;
	background:url(/fullpage/common/img/rating-stars-big.png) top center;
	background-repeat: no-repeat;
	height: 25px;
	float: left;
}
.regular-featured .stars .star.full {
	background-position: top;
}
.regular-featured .stars .star.empty {
	background-position: bottom;
}
.form-video-meta{
 overflow:auto;
 max-height:150px; 
}
