@charset "utf-8";
/* CSS Document 
 
 Date: 12-12-12
 Author: Dan Oliver Calpatura
 Description: This CSS is exclusively written for the timeline layout of 36Stories Hosted Pages.
 
*/
::selection {
	background: #1e6a92; /* Safari */
	color:#FFF;
	text-shadow:#1c5573 0px 1px;
	}
::-moz-selection {
	background: #1e6a92; /* Firefox */
	color:#FFF;
	text-shadow:#1c5573 0px 1px;
}
#threeColumnLayout{
	padding-bottom:30px;
}

.feedback-block{
	display:block;
}

/* regular featured feedback */
.feedback{
	margin:0px 0px 30px 0px;
	width:849px;
}
.regular-featured{
	background:#f1f6f8;
}
.regular-featured .regular-featured-contents{
	padding:25px 35px 0px 35px;
}
.regular .regular-contents{
	padding:25px 10px 0px 10px;
}

.feedback-header{
	display:block;
}
.feedback-header .author{
	float:left;
	width:520px;
}
.feedback-header .author .author-avatar{
	width:48px;
	float:left;
}
.feedback-header .author .author-information{
	float:left;
	width:462px;
	margin-left:10px;
}

.feedback-header .reviews{
}
.author-location{
	float:left;
}

/* common content rules */
.author .author-information .author-name{
	color:#3a99bc;
	font-size:18px;
	font-weight:bold;
	margin-bottom:3px;
}
.author .author-information .author-company{
	font-weight:bold;
	color:#838383;
	margin-bottom:4px;
}
.author .author-information .author-location-info{
	color:#a2a2a2;
	margin-bottom:3px;
}
.custom-meta-data .meta-data{float:left;margin-right:10px;}
.custom-meta-data .meta-name{color:#6499cd;font-weight:bold;font-size:11px;}
.custom-meta-data .meta-value{color:#a2a2a2;font-weight:normal;font-size:11px;}
.reviews{
	display:block;
	margin-bottom:15px;
	float:right;
}
.regular-featured .feedback-timestamp{
	color:#8e8e8e;
	float:none;
	display:block;
	margin-bottom:4px;
}
.reviews .ratings .stars{
	margin-bottom:7px;
	float:right;
}
.feedback-timestamp{
	color:#8e8e8e;
	float:none;
	display:block;
	margin-bottom:4px;
}
.rating-stat{
	color: #4ea6c6;
	font-size: 11px;
	position: absolute;
	top: -15px;
	right: 0px;
}
.feedback-text-bubble{
	margin-top:0px;
	padding:10px 0px 0px;
	background:none;
}
.feedback-tail{
	background:url(../../../common/img/bubble-tail-noborder.png) no-repeat;
	width:13px;
	height:17px;
	position:absolute;
	top:-17px;
	left:25px;
	background:none;
}
.feedback-text{
	color:#000;
}
.feedback-text p{
	margin-bottom:15px;
	font-size:20px;
	line-height:1.5em;
}
.feedback-text p:last-child{
	margin-bottom:0px;
}
.feedback-text{
	color:#000;
}
.admin-comment-block{
	margin-top:15px;
	padding:10px;
	background:#ededed;
}
.admin-name{
	font-size:12px;
	font-weight:bold;
	color:#11769c;
}
.admin-message{
	background:#FFF;
	border:1px solid #cfcfcf;	
	margin-top:5px;
	padding:6px;
}
.admin-avatar{
	float:left;
	width:36px;
}
.admin-message .message{
	font-size:14px;
	color:#4f4f4f;
	line-height:1.2em;
	font-style:italic;
	margin-left:40px;
}
.feedback-options{
	margin-left:-35px;
	margin-right:-35px;	
	padding:10px 0px;
	background:#FFF;
	border-bottom:1px dotted #CCC;
}
.regular .feedback-options{
	margin:0px;
	padding:10px 0px;
	background:#FFF;
}
.feedback-recommendation{
	float:left;
}
.feedback-actions{
	float:right;
	text-align:right;
	font-size:11px;
	margin-top:5px;
}
.feedback-actions span{
	margin-left:10px;
}
.feedback-vote{
	margin-top:5px;
	float:left;
	text-align:left;
	margin-left:10px;
}
.vote-action{
	color:#4ea6c6;
}
.flag-as{
	color:#455b61;
	background:url(../../../common/img/ico-flag.png) no-repeat;
	background-position:center left;
	padding-left:17px;
	cursor:pointer;
}
.share-button{
	color:#455b61;
	background:url(../../../common/img/ico-share.png) no-repeat;
	background-position:center left;
	padding-left:17px;
	cursor:pointer;
}


/* uploaded images links and videos */
.additional-contents{
	margin-top:10px;
}
.uploaded-images{
	height:111px;
	overflow:hidden;
}
.uploaded-video{
	height:356px;
}
.uploaded-link{
	height:80px;
}
.uploaded-image{
	width:33%;
	float:left;
	overflow:hidden;
	height:180px;
	cursor:pointer;
}
uploaded-image{
	width:33%;
	float:left;
	overflow:hidden;
	height:60px;
	cursor:pointer;
}
.form-video-meta{
	overflow:hidden;
}
.video-thumb{
	float:left;
	width:100px;
	cursor:pointer;
}
.video-details{
	margin-left:110px;
}
.video-details h3{
	font-weight:bold;
	margin-bottom:5px;
}
.video-details p{
	font-size:11px;
}
.twitter-marker{
	background:url(../../../common/img/twitter-marker.png);
	background-repeat:no-repeat;
	position:absolute;
	width:40px;
	height:40px;
	top:-1px;
	right:-1px;
}
/* share box */
.share-box{
	position:absolute;
	width:100px;
	padding:10px;
	background:#FFF;
	border:1px solid #e4e4e4;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;		
	box-shadow:#CCC 0px 2px 3px;
	z-index:1000;
	display:none;
}
.share-box .share-box-arrow{
	background:url(../../../common/img/share-arrow-pointer.png);
	background-repeat:no-repeat;
	width:11px;
	height:7px;
	position:absolute;
	top:-7px;
	right:10px;
}
.btn-block{
	margin-bottom:4px;
}
.btn-block:last-child{
	margin-bottom:0px;
}
.share-box{
	top:20px;
	right:0px;
}
.admin-comment-block{
	margin-left:-35px;
	margin-right:-35px;
	border-top:1px solid #FFF;
}
.regular-featured .admin-comment-textbox-container textarea{	
	width:808px;
	height:30px;
	font-size: 12px;
}
.regular .admin-comment-textbox-container textarea{
	width:790px;
	height:30px;
	font-size: 12px;
}
.admin-logged-session{
	float:left;
	padding-top:7px;
}
.regular-button{
	background:#1cb0ff;
	border:1px solid #118bcc;
}
.regular-button:hover{
	background:#31b7ff;
}
.send-button a{
	background:#1cb0ff;
	border:1px solid #118bcc;
}
.send-button a:hover{
	background:#31b7ff;
}
.custom-meta-data{
	margin-bottom:5px;
}
.regular .admin-comment-block{
	margin:0px;
}
.regular .feedback-text p{
	font-size:12px;
}
.regular-featured .regular-button {
	font-size: 11px;
	padding: 3px 8px;
	font-weight: normal;
}
.regular-featured .admin-logged-session{
	font-size: 10px;
	margin-right: 4px;
}