@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#666;
	background: #FFF;
	margin:0;padding:0;widht:100%;height:100%;
}

#s36_main{
	width:447px;
	height:590px;
	position:absolute;
	background:#000;
}
#s36_whitebar{
	height:15px;
	width:447px;
	background:#000;
}
#s36_pages,#s36_steps{
	width:447px;
	height:465px;
}
.error-message{
	background:url(../../img/error-bg.png) repeat;
	padding:10px 30px;
	text-align:center;
	font-weight:bold;
	color:#212121;
	border-top:2px solid #e5db58;
	border-bottom:2px solid #e5db58;
	position:relative;
	z-index:100;
}
#s36_footer{
	display:block;
	height:45px;
	width:387px;
	padding:10px 30px;
	bottom:0px;
	position:absolute;
	z-index:100;
}
a{
	color:#CCC !important;
}
a:hover{
	color:#DDD !important;
}
	#s36_footer .s36_footerbtn{
		width:80px;
		float:left;
		position:relative;
		text-align:center;
		padding:10px 0px;
	}
	#s36_footer .s36_footertext{
		width:227px;
		float:left;
		position:relative;
		text-align:center;
		padding-top:15px;
		font-size:10px;
		font-weight:bold;
	}

/* classes */	
a.s36_btn{
	background:#1b1b1b;
	padding:7px 22px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #3c3c3c;
	color:#393939;
	text-shadow:#141414 0px 1px;
	text-decoration:none;
}
a.s36_btn:hover{
	background:#272727;
	border:1px solid #3c3c3c;
	color:#393939;
	text-shadow:#141414 0px 1px;
}
/* crop button */
a.cropbtn{
	background:#1cb5f5;
	border:1px solid #103311;
	color:#FFF;
	text-shadow:none;
}
a.cropbtn:hover{
	background:#4dc9fc;
	border:1px solid #103311;
	color:#FFF;
	text-shadow:none;
}
/* crop button */
/* pages class */
.s36_pages{
	position:absolute;
	width:447px;
	height:465px;
}
	.s36_pages h1{margin:0px;padding:14px 30px;background:#232323;font-size:22px;color:#FFF;}
	.s36_pages h3{color:#999;font-size:15px;margin:0px;padding:5px 0px;}
	.s36_pages h3 a.s36_tip{font-size:11px;color:#c3c3c3;text-decoration:none;padding-left:4px;font-weight:normal;}
	.s36_pages h3 a.s36_tip:hover{text-decoration:underline;}
	.s36_pages h4{color:#6f7375;font-size:11px;margin:0px;padding:5px 0px;}
	.s36_pages .step-contents{
		padding:0px 30px;display:block;
	}
	
	#s36_whattowrite{
		background:url(../../img/ico-question.png) no-repeat top left;
		padding-left:36px;
	}
	#s36_whattowrite ul{margin:0px;list-style:none;padding:0px;font-size:11px;}
/* trackbar styles */
#s36_trackbar{
	background:url(images/dark/dark-trackbar.png) no-repeat;
	width:388px;
	height:36px;
	position:relative;
}

/* rating page */
#rate_e,#rate_g,#rate_a,#rate_p,#rate_b{float:left;height:33px;position:relative;cursor:pointer;}
#track_ball{width:30px;height:33px;position:absolute;background:url(images/dark/trackball.png) no-repeat;left:189px;}
#rate_e,#rate_b{width:48px;}
#rate_g,#rate_a,#rate_p{width:97px;}

#s36_ratings{color:#adafb0;font-size:12px;font-weight:bold;}
#s36_ratings ul{margin:0px;padding:0px;position:relative;height:25px;}
#s36_ratings ul li	   	  {list-style:none;display:inline;margin:0px;padding:0px;position:absolute;top:0px;}

#s36_ratings ul li.poor	  {left:97px;}
#s36_ratings ul li.average{left:180px;}
#s36_ratings ul li.good	  {left:276px;}
#s36_ratings ul li.excellent {left:338px;}

/* permission page */
#s36_permissions{background:#900;}
.s36_block{margin:15px 0px;}
.s36_perm_radio{
	float:left;	
	width:37px;
	text-align:center;
	padding-top:30px;
	display:none;
}

.s36_perm_details{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:#202020;
	width:350px;height:75px;
	float:left;
	overflow:hidden;cursor:pointer;
}
.s36_perm_details .s36_perm_icon{
	width:80px;float:left;
	background:#2e2e2e;height:75px;
}

.s36_perm_details .s36_perm_icon1,
.s36_perm_details .s36_perm_icon2,
.s36_perm_details .s36_perm_icon3{
    width:40px;height:38px;margin:0 auto;margin-top:20px;
    background:url(images/dark/ico-perms.png) no-repeat;
    background-position:0px 0px;
}
.s36_perm_details .s36_perm_icon2{
    background-position:-40px 0px;
}
.s36_perm_details .s36_perm_icon3{
    background-position:-80px 0px;
}
.s36_perm_text{
    padding:10px;
    float:left;
    width:250px;
}
.s36_perm_text p, .s36_perm_text h3{padding:0px;margin:0px;}
.s36_perm_text p{font-size:11px;color:#7d8082;margin-top:4px;}

.full .s36_perm_details{padding-top:30px;padding-bottom:30px;}
.full .s36_perm_details{background:#4c9a12;color:FFF;border:2px solid #4c9a12;}
.full .s36_perm_icon{background:#4c9a12;}
.limited .s36_perm_details{background:#e2b011;color:FFF;border:2px solid #e2b011;}
.limited .s36_perm_icon{background:#e2b011;}
.private .s36_perm_details{background:#647273;color:FFF;border:2px solid #647273;}
.private .s36_perm_icon{background:#647273;}

.full    .s36_perm_details.active_perm{border:2px solid #c3ff97;}
.limited .s36_perm_details.active_perm{border:2px solid #ffeeba;}
.private .s36_perm_details.active_perm{border:2px solid #ccd1d1;}


.s36_perm_text h3{color:#FFF;}
.s36_perm_text p{color:#FFF;}
/* form styles */
.regular-textarea{
	background:#141414;
	border:1px solid #171717;
	padding:10px;
	width:360px;
	height:210px;
	font-family:Arial, Helvetica, sans-serif;
	color:#bfbfbf;
}

.s36_perm_details:after,.s36_block:after,.review-profile:after{
 content: ".";  
 display: block; 
 height: 0; 
 clear: both;
 visibility: hidden; 
}

/* connect page */
.s36_block .company{background:url(../../img/s36-logo.png);background-repeat:no-repeat;background-position:center left;padding:15px 15px 15px 160px;font-size:11px;}
.s36_block .warning{background:#2e2e2e;width:82px;float:left;text-align:center;padding:13px 0px;}
.s36_block .warning-text{width:270px;float:left;padding:10px 15px;font-size:11px;line-height:18px;}
.gray{
	background:#202020;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	overflow:hidden;
}
/* miscs */
.s36_align_center{text-align:center;}
.s36_align_right{text-align:right;}
.s36_blue_btn{
	background:#84b1ce;
	padding:4px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;	
}
.s36_blue_btn:hover{
	background:#97c2de;
}
.current{display:block;}


/* form page */
#s36_form{margin-top:2px;}
table tr td{margin-top:3px;}
div.avatar{width:90px;float:left;padding:10px;}
div.avatartext{width:240px;float:left;padding:10px;}
/* form styles */
input.regular-text{background:#131313;height:22px;border:1px solid #272727;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;overflow:hidden;font-weight:bold;display:block;width:170px;padding:4px;font-family:Arial, Helvetica, sans-serif;color:#666;box-shadow:#1c1c1c 0px 0px 0px 3px;}
input.long{width:361px;}
input.reg-text-active{color:#999;font-weight:normal;}
select.regular-select{background:#131313;height:30px;border:1px solid #272727;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;overflow:hidden;font-weight:bold;display:block;width:180px;padding:4px;font-family:Arial, Helvetica, sans-serif;color:#666;-webkit-box-shadow:#1c1c1c 0px 0px 0px 3px;box-shadow:#1c1c1c 0px 0px 0px 3px;}
select.regular-select option{width:120px;}
select.reg-text-active{color:#AAA;font-weight:normal;}
select:focus{border:1px solid #AAA;outline:#5d5d5d;-webkit-box-shadow:#222 0px 0px 0px 3px;box-shadow:#222 0px 0px 0px 3px;}
input:focus{border:1px solid #AAA;outline:#5d5d5d;box-shadow:#222 0px 0px 0px 3px;}

/* review page */

/* review page slide */
.review-profile{margin-top:5px;}
.review-avatar{width:110px;padding:5px 0px !important;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#e6e8e8;float:left;}
.review-profile-info{float:left;padding-top:15px;margin-left:15px;width:250px;}
.review-profile-info h1,.review-profile-info h2,.review-profile-info h3,.review-profile-info h4,.review-profile-info h5,.review-profile-info h6,
.review-profile-info p{overflow:hidden;margin:0px;padding:1px 0px;}
.review-feedback-box{display:block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:15px;background:#1b1b1b;position:relative;width:365px;float:left;min-height:150px;border:1px solid #e1e1e1;font-size:12px;}
.review-feedback{font-size:12px;display:block;overflow:hidden;max-height:200px;}
.review-change-photo{margin-left:8px;margin-bottom:10px;font-size:11px;float:left;position:relative;text-decoration:underline;display:block;width:100%;}
.review-edit-feedback{margin-top:10px;}
.review-edit-feedback a{color:#afb1b2;text-decoration:underline;}
.review-location{float:left;}
.review-feedback-box .regular-textarea{background:#FFF;width:340px;}
#edit-review-feedback,#save-edited-feedback{position:absolute;}
/* jcrop css */
#crop_status{padding-left:5px;}

/* added */

/* review page slide */
.review-avatar{background:#101010;}
.review-feedback-box{background:#111;border:1px solid #525252;}
.review-edit-feedback a{color:#afb1b2;}
.review-feedback-box .regular-textarea{background:#FFF;}
.tr-photo-upload{background:#202020 !important;color:#474747;}

div.feedback {
    padding-top:25px;  
}

.all-done-feedback-box{
    margin:15px 0px;
    padding:10px;
    overflow-y:auto;
    background:#f7f7f7;
    border:1px solid #e1e1e1;
    color:#595959;
    height:140px;
    line-height:18px;
}
.all-done-feedback-box p{margin:0px;line-height:18px;}

.share-buttons{

}
.share-buttons .fb-share-button{width:190px;float:left;margin-right:10px;}
.share-buttons .tw-share-button{float:left;width:78px;}
#fb-share-post-success{margin-top:10px;display:none;}
.share-success{color:#9c9b9b;background:url(../../img/ico-check.png) no-repeat left center;padding-left:15px;}
.fb-like-link{margin-top:5px;}
.tw-follow-link{margin-top:5px;
