@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#666;
	background: #FFF;
	margin:0;padding:0;widht:100%;height:100%;
}
a{color:#5c8ac0;}
a:hover{color:#6896cb;}
#s36_main{
	width:447px;
	height:590px;
	position:absolute;
	background:#FFF;
}
#s36_whitebar{
	height:15px;
	width:447px;
	background:#FFF;
}
#s36_pages,#s36_steps{
	width:447px;
	height:465px;
}
.error-message{
	background:url(../../img/error-bg.png) repeat;
	padding:10px 30px;
	text-align:center;
	font-weight:bold;
	color:#212121;
	border-top:2px solid #e5db58;
	border-bottom:2px solid #e5db58;
	position:relative;
	z-index:100;
}
#s36_footer{
	display:block;
	height:45px;
	width:387px;
	padding:10px 30px;
	bottom:0px;
	position:absolute;
	z-index:100;
}
	#s36_footer .s36_footerbtn{
		width:80px;
		float:left;
		position:relative;
		text-align:center;
		padding:10px 0px;
	}
	#s36_footer .s36_footertext{
		width:227px;
		float:left;
		position:relative;
		text-align:center;
		padding-top:15px;
		font-size:10px;
		font-weight:normal;
	}

/* classes */	
a.s36_btn{
	background:#dedede;
	padding:7px 22px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #d1d1d1;
	color:#909293;
	text-shadow:#e8e8e8 0px 1px;
	text-decoration:none;
}
a.s36_btn:hover{
	background:#dce7ee;
	border:1px solid #81aac5;
	color:#81aac5;
	text-shadow:#e7eff4 0px 1px;
}
/* crop button */
a.cropbtn{
	background:#1cb5f5;
	border:1px solid #0d9cd7;
	color:#FFF;
	text-shadow:none;
}
a.cropbtn:hover{
	background:#4dc9fc;
	border:1px solid #1cb5f5;
	color:#FFF;
	text-shadow:none;
}
/* crop button */
/* pages class */
.s36_pages{
	position:absolute;
	width:447px;
	height:465px;
}
	.s36_pages h1{margin:0px;padding:14px 30px;background:#aab0b2;font-size:22px;color:#FFF;}
	.s36_pages h3{color:#303030;font-size:15px;margin:0px;padding:5px 0px;}
	.s36_pages h3 a.s36_tip{font-size:11px;color:#c3c3c3;text-decoration:none;padding-left:4px;font-weight:normal;}
	.s36_pages h3 a.s36_tip:hover{text-decoration:underline;}
	.s36_pages h4{color:#6f7375;font-size:11px;margin:0px;padding:5px 0px;}
	.s36_pages .step-contents{
		padding:0px 30px;display:block;
	}
	
	#s36_whattowrite{
		background:url(../../img/ico-question.png) no-repeat top left;
		padding-left:36px;
	}
	#s36_whattowrite ul{margin:0px;list-style:none;padding:0px;font-size:11px;}
/* trackbar styles */
#s36_trackbar{
	background:url(../../img/trackbar.png) no-repeat;
	width:388px;
	height:36px;
	position:relative;
}
