@charset "utf-8";
/* CSS Document */

body{
	color:#666;
	background: #f0f0f0;
}
a{color:#5c8ac0;}
a:hover{color:#6896cb;}
#s36_main{
	background:#FFF top repeat-x;
}
#s36_whitebar{
	background:transparent;
}

.error-message{
	background:url(../../img/error-bg.png) repeat;
	color:#212121;
	border-top:2px solid #e5db58;
	border-bottom:2px solid #e5db58;
}
/* classes */	

/* crop button */
a.cropbtn{
	background:#1cb5f5;
	border:1px solid #0d9cd7;
	color:#FFF;
	text-shadow:none;
}
a.cropbtn:hover{
	background:#4dc9fc;
	border:1px solid #1cb5f5;
	color:#FFF;
	text-shadow:none;
}

/* crop button */
a.s36_btn{
	background:#3f8aa9;
	border:1px solid #3f8aa9;
	color:#FFF;
}
a.s36_btn:hover{
	background:#449bbf;
	border:1px solid #449bbf;
	color:#FFF;
}

.s36_pages h1{background:#515153;color:#FFF;}
.s36_pages h3{color:#303030;}
.s36_pages h3 a.s36_tip{color:#c3c3c3;}
.s36_pages h4{color:#6f7375;}
#s36_whattowrite{
    background:url(../../img/ico-question.png) no-repeat top left
}
/* trackbar styles */
#s36_trackbar{
	background:url(../../img/trackbar.png) no-repeat;
}
/* review page slide */
.review-feedback-box{background:#f7f7f7;border:1px solid #e1e1e1;}
