@charset "utf-8";

/* CSS Document */
/* Admin Panel for 36Stories */
html, body, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, 
pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, 
s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, caption{border: 0;margin: 0;outline: 0;padding: 0;vertical-align: baseline;position:relative;}

body{
	font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#666;
	background:url(../img/background.jpg) #FFF;
	margin:0;padding:0;height:100%;width:100%;
}	
a{text-decoration:none;color:#b0b0b0;border:none;}
a img{border:none;}
div.c{clear:both;} /* clearer */
/* 
Color References:

sidebar menu color : 			 #dfdfdf
top links color (top):    		 #858585
top links color (lower top):	 #343434

end of reset */

/* styling starts here */
#admin-container{width:100%;height:100%;}
#admin-panel{width:960px;margin:0 auto;background:#6c7a85;height:auto;box-shadow:#BBB 0px 0px 10px;}
#admin-panel .left-panel{width:25%;background:#6c7a85;float:left;border-top:1px solid #d9d9d9;}
#admin-panel .left-panel .logo{height:31px;background:#f6f6f6;padding:6px 10px 10px;}
#admin-panel .left-panel .left-menu{display:block;background:#6b7984;}
#admin-panel .left-panel .left-menu ul{margin:0;padding:0;list-style:none;color:#dfdfdf;font-weight:bold;text-shadow:#414950 0px -1px;font-size:14px;border-right:1px solid #606d77;}

#admin-panel .left-panel .left-menu ul li{padding:15px 5px 15px 20px;cursor:pointer;border-bottom:1px solid #59656f;border-top:1px solid #798993;}
#admin-panel .left-panel .left-menu ul li div.arrow-right{background:url(../img/ico-arrow-right.png) top no-repeat;width:23px;height:24px;position:absolute;right:10px;top:50%;margin-top:-12px;display:none;}
#admin-panel .left-panel .left-menu ul li a{color:#FFF;padding:4px 5px 4px 40px;}

#admin-panel .left-panel .left-menu ul li.dashboard a{background:url(../img/ico-dashboard.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.inbox     a{background:url(../img/ico-inbox.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.published a{background:url(../img/ico-published.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.featured  a{background:url(../img/ico-featured.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.filed     a{background:url(../img/ico-filed.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.setup     a{background:url(../img/ico-setup.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.contacts  a{background:url(../img/ico-contacts.png) no-repeat left top;}

sup.count{
    background:#8C1717;/*#d92222; #68838B*/
    text-shadow:0px -1px;
    color:#FFF;
    font-size:11px;
    box-shadow:#57626c 0px 1px 2px;
    padding:1px 8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    top:-2px;}
/* hover state */
#admin-panel .left-panel .left-menu ul li:hover,#admin-panel .left-panel .left-menu ul li.selected{background:#768591;}
#admin-panel .left-panel .left-menu ul li:hover a,#admin-panel .left-panel .left-menu ul li.selected a{color:#FFF;background-position:left bottom;}
#admin-panel .left-panel .left-menu ul li:hover div.arrow-right,#admin-panel .left-panel .left-menu ul li.selected div.arrow-right{display:block;}

#admin-panel .left-panel .left-buttons ul{margin:0;padding:15px;list-style:none;color:#dfdfdf;font-weight:bold;text-shadow:#414950 0px -1px;font-size:12px;border-right:1px solid #606d77;border-top:1px solid #798993;}

#admin-panel .left-panel .left-buttons ul li{padding:8px 5px 8px 20px;margin:10px;background:#4c5660;cursor:pointer;
											 -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
											 border-top:1px solid #3b434b;border-left:1px solid #3b434b;
											 border-bottom:1px solid #788792;border-right:1px solid #788792;}
/* hover state */									 
#admin-panel .left-panel .left-buttons ul li.request a{background:url(../img/ico-mail.png) no-repeat left top;}
#admin-panel .left-panel .left-buttons ul li.add     a{background:url(../img/ico-add.png) no-repeat left top;}
#admin-panel .left-panel .left-buttons ul li.delete a{background:url(../img/ico-trash.png) no-repeat left top;}
#admin-panel .left-panel .left-buttons ul li 		 a{color:#FFF;padding:4px 5px 4px 30px;}

#admin-panel .left-panel .left-buttons ul li:hover{background:#56606c}
#admin-panel .left-panel .left-buttons ul li:hover a{color:#FFF;background-position:left bottom;}


#admin-panel .main-panel{width:75%;background:#ffffff;float:left}
#admin-panel .main-panel .admin-session-bar{height:47px;background:#343434;display:blockborder-right:1px solid #000;border-bottom:1px solid #000;} /* deduct 1px for the border */
#admin-panel .main-panel .admin-session-bar .admin-avatar{width:45px;height:45px;border-right:1px solid #000;float:left;}
#admin-panel .main-panel .admin-session-bar .admin-details{width:390px;float:left;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-signed-in{padding:7px 13px;margin:8px 0px;font-weight:bold;color:#babfc2;border-right:1px solid #2a2929;float:left;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-signed-in span{color:#dae7ee;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links{padding:7px 13px;margin:8px 0px;border-left:1px solid #3f3f3f;float:left;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul{list-style:none;margin:0px;padding:0px;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul li{display:inline;font-size:10px;margin:0px;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul li a{color:#858585;padding:3px 6px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul li a:hover,#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul li a.selected{background:#2b2b2b;text-shadow:#000 0px 1px;}
#admin-panel .main-panel .admin-session-bar .admin-meta{width:250px;float:right;padding:6px 10px;margin:5px 0px;text-align:right;}
#admin-panel .main-panel .admin-session-bar .admin-meta select{background:#2b2b2b;border:1px solid #393939;color:#616161;font-size:11px;padding:2px 4px;margin:0px 10px;}
#admin-panel .main-panel .admin-session-bar .admin-meta a{font-size:10px;color:#b1b1b1;}
#admin-panel .main-panel .admin-session-bar .admin-meta a:hover{color:#bebebe;}

#admin-panel .main-panel .admin-status-bar{padding:12px 20px;display:block;background:#babfc2;border-bottom:#a9b3b9 1px solid;height:17px}
#admin-panel .main-panel .admin-status-bar .current-page{padding:4px 0px 4px 30px;font-size:11px;color:#343434;font-weight:bold;text-shadow:#cbced1 0px 1px;}
#admin-panel .main-panel .admin-status-bar .current-page{float:left;}
#admin-panel .main-panel .admin-status-bar .dashboard	{background:url(../img/ico-dashboard.png)	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .inbox		{background:url(../img/ico-inbox.png) 		no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .published	{background:url(../img/ico-published.png) 	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .featured	{background:url(../img/ico-featured.png) 	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .filed		{background:url(../img/ico-filed.png) 		no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .setup		{background:url(../img/ico-setup.png) 		no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .contacts	{background:url(../img/ico-contacts.png) 	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .trash	    {background:url(../img/ico-trash.png) 	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .request	    {background:url(../img/ico-setup.png) 	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .current-page span{color:#666666;margin-left:14px;font-weight:normal;text-shadow:none;}

#admin-panel .main-panel .admin-nav-bar{padding:8px 20px;display:block;background:#FFF;margin-top:10px;}
#admin-panel .main-panel .admin-nav-bar ul{list-style:none;font-size:10px;}
#admin-panel .main-panel .admin-nav-bar ul li{margin:0 6px;padding:0;display:inline;}
#admin-panel .main-panel .admin-nav-bar ul li a{padding:4px 8px;color:#343434;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
#admin-panel .main-panel .admin-nav-bar ul li a:hover,#admin-panel .main-panel .admin-nav-bar ul li a.selected{background:url(../img/admin-nav-bar-bg.png) #b7bec2 repeat-x top;text-shadow:#a9b1b6 0px 1px;color:#FFF;}

#admin-panel .main-panel .admin-filter-bar{padding:10px 20px;display:block;background:#FFF;}
#admin-panel .main-panel .admin-filter-bar .admin-filter-select{float:left;}
#admin-panel .main-panel .admin-filter-bar .admin-filter-datepicker,
#admin-panel .main-panel .admin-filter-bar .admin-filter-search{float:right;border:1px solid #d6d6d6;padding:1px 3px;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;margin:2px 5px;}
#admin-panel .main-panel .admin-filter-bar select,#admin-panel .main-panel .admin-filter-bar input{font-size:11px;color:#999999;width:170px;}
#admin-panel .main-panel .admin-filter-bar select{padding:1px 3px;color:#616161;border:1px solid #d6d6d6;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:2px 5px;}
#admin-panel .main-panel .admin-filter-bar input{border:none;padding:0px 4px;}

#admin-panel .main-panel .admin-sorter-bar{padding:8px 0px;display:block;border-top:1px solid #b0c4d5;border-bottom:1px solid #b0c4d5;background:#cfdbe5;font-size:10px;position:relative}
#admin-panel .main-panel .admin-sorter-bar select{font-size:10px;padding:1px 3px;color:#616161;border:1px solid #d6d6d6;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:2px 2px;}

#admin-panel .main-panel .admin-sorter-bar .pagination{text-align:right;padding-right:10px;font-size:11px;}
#admin-panel .main-panel .admin-sorter-bar .pagination-text{text-align:center;padding-top:5px;font-size:11px;}
#admin-panel .main-panel .admin-sorter-bar .pagination input.pagination-input{font-size:11px;width:10px;text-align:center;font-weight:bold;color:#5c646a;padding:1px 3px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:1px solid #ababab;}

#admin-panel .main-panel .admin-sorter-bar .select-options {width:11%;float:left;display:inline;overflow:hidden;margin-right:auto;margin-left:auto;padding-left:20px}

#admin-panel .main-panel .the-feedbacks{padding:0px 0px;display:block;background:#FFF;font-size:10px;}
#admin-panel .main-panel .the-feedbacks div{position:relative;margin:0; padding:0;}
#admin-panel .main-panel .the-feedbacks .feedback{clear:both;float:left;display:block;width:100%;border-bottom:1px solid #e4e4e4;padding:15px 0px;}
#admin-panel .main-panel .the-feedbacks .feedback-date-header {padding:12px; float:left;}

#admin-panel .main-panel .left{width:10%;float:left;text-align:center;}
#admin-panel .main-panel .left input{top:2px;}

#admin-panel .main-panel .right{width:90%;float:left;}

#admin-panel .main-panel .right .feedback-avatar{width:10%;float:left;}
#admin-panel .main-panel .right .feedback-avatar img{border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding:0px;}
#admin-panel .main-panel .right .feedback-details{width:90%;float:left;}

#admin-panel .main-panel .right .feedback-details .author-info{padding:2px;display:block;margin-left:5px; word-wrap:break-word }
#admin-panel .main-panel .right .feedback-details .author-info .author-social a{color:#567aa7;font-size:10px;}
#admin-panel .main-panel .right .feedback-details .author-info .author-social a img{vertical-align:bottom;}
#admin-panel .main-panel .right .feedback-details .author-info .fb{color:#567aa7}
#admin-panel .main-panel .right .feedback-details .author-info .tw{color:#6fb2b8}
#admin-panel .main-panel .right .feedback-details .author-info .in{color:#5e99be}
#admin-panel .main-panel .right .feedback-details .author-info h3 span{font-weight:normal;color:#999999;font-size:10px;margin-left:4px;}
#admin-panel .main-panel .right .feedback-details .author-info p{margin:5px 0px 3px;font-size:11px;}

#admin-panel .main-panel .right .feedback-details .feedback-meta{padding:2px;display:block;margin-left:5px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .rating{color:#FFF;padding:1px 4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .poor{background:#c1431c;text-shadow:#8f3215 0px -1px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .average{background:#c1661c;text-shadow:#8f4c15 0px -1px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .good{background:#8ba510;text-shadow:#677a0c 0px -1px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .excellent{background:#109ca5;text-shadow:#0c747a 0px -1px;}

#admin-panel .main-panel .right .feedback-details .feedback-meta .permission{font-size:9px;color:#aaaaaa;margin:0px 5px 0px 2px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .status,
#admin-panel .main-panel .right .feedback-details .feedback-meta .priority{color:#5b81a2;margin:0px 2px 0px 2px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .status span,
#admin-panel .main-panel .right .feedback-details .feedback-meta .priority span{color:#777777;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .modify{margin-left:5px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .modify a{color:#5b81a2;padding:1px 4px;background:#eeeeee;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .modify a:hover{color:#eee;background:#5b81a2;}
#admin-panel .main-panel .right .feedback-details .options{width:120px;position:absolute;top:0px;right:0px;z-index:1}
#admin-panel .main-panel .right .feedback-details .options input[type=button]{margin:0px 0px;padding:0px;width:20px;height:17px;border:none;background:url(../img/ico-sprite-options.png) no-repeat;cursor:pointer;}
#admin-panel .main-panel .right .feedback-details .options input.check      {background-position: 0px 0px;}/* this input button uses css sprites. change background position to change the images. */
#admin-panel .main-panel .right .feedback-details .options input.save       {background-position: -20px 0px;}
#admin-panel .main-panel .right .feedback-details .options input.reply      {background-position: -40px 0px;}
#admin-panel .main-panel .right .feedback-details .options input.feature    {background-position: -60px 0px;}
#admin-panel .main-panel .right .feedback-details .options input.contact    {background-position: -80px 0px;}

#admin-panel .main-panel .right .feedback-details .options input.check:hover {background-position: 0px -17px;}
#admin-panel .main-panel .right .feedback-details .options input.save:hover  {background-position: -20px -17px;}
#admin-panel .main-panel .right .feedback-details .options input.reply:hover {background-position: -40px -17px;}
#admin-panel .main-panel .right .feedback-details .options input.feature:hover {background-position: -60px -17px;}
#admin-panel .main-panel .right .feedback-details .options input.contact:hover {background-position: -80px -17px;}

#admin-panel .main-panel .right .feedback-details .options input.check-active   {background-position: 0px -34px;}
#admin-panel .main-panel .right .feedback-details .options input.save-active   {background-position: -20px -34px;}
#admin-panel .main-panel .right .feedback-details .options input.reply-active  {background-position: -40px -34px;}
#admin-panel .main-panel .right .feedback-details .options input.feature-active{background-position: -60px -34px;}
#admin-panel .main-panel .right .feedback-details .options input.contact-active{background-position: -80px -34px;}

#admin-panel .main-panel .right .timestamp{display:block;font-size:11px;min-height:60px;}
#admin-panel .main-panel .right .timestamp .date{color:#484848;}
#admin-panel .main-panel .right .timestamp .time{color:#8d8c8c;}
#admin-panel .main-panel .right .timestamp input{margin:0px 0px;padding:0px;width:20px;height:17px;border:none;background:url(../img/ico-sprite-options.png) no-repeat;cursor:pointer;}
/*#admin-panel .main-panel .right .timestamp input.flag  {background-position:-100px 0px;position:absolute;top:0;right:5px;}*/
#admin-panel .main-panel .right .timestamp input.flag  {background-position:-100px -34px;position:absolute;top:0;right:5px;}
#admin-panel .main-panel .right .timestamp input.remove{background-position:-120px -34px;position:absolute;bottom:0;right:5px;}
#admin-panel .main-panel .right .timestamp input.flag:hover  {background-position:-100px -17px;}
#admin-panel .main-panel .right .timestamp input.remove:hover{background-position:-120px -17px;}
#admin-panel .main-panel .right .timestamp input.flag-active  {background-position:-100px 0px;position:absolute;top:0;right:5px;}
#admin-panel .main-panel .right .timestamp input.remove-active{background-position:-120px 0px;position:absolute;bottom:0;right:5px;}

#admin-panel .main-panel .block{border-bottom:1px solid #e4e5e6;display:block;padding:10px 20px 10px 34px;line-height:17px;}
#admin-panel .main-panel .block span.count{border:1px solid #e3e3e3;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:3px 5px;margin-right:20px;font-weight:bold;}
#admin-panel .main-panel .block p{padding:5px 0px;margin-bottom:4px;}
#admin-panel .main-panel .block h3{font-size:11px;color:#343434;margin:10px 0px 10px 0px;}
#admin-panel .main-panel .block h4{font-size:11px;color:#3b5e75;margin:10px 0px 10px 0px;}
#admin-panel .main-panel .block h4 a{color:#3b5e75;text-decoration:underline;}
#admin-panel .main-panel .block img{margin:10px 20px 10px 0px;}
#admin-panel .main-panel .block a.customize{padding:4px 10px;background:#6a7882;font-size:10px;font-weight:bold;color:#FFF;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-shadow:#4c5a63 0px -1px;}
#admin-panel .main-panel .block a.customize:hover{background:#7e8e99;}
#admin-panel .main-panel .block ul.invoices{font-size:11px;color:#777777;list-style:none;margin:10px 0px;}
#admin-panel .main-panel .block ul li{margin:5px 0px;}
#admin-panel .main-panel .block ul li a{text-decoration:underline;color:#777;}
#admin-panel .main-panel .block ul li a:hover{color:#9d9d9d;}
/* sliding template thumbnails */
#admin-panel .main-panel .block .templates{display:block;padding:10px 10px;width:590px;margin:0 auto;}
#admin-panel .main-panel .block .templates ul{padding:10px 15px;display:block;}
#admin-panel .main-panel .block .templates ul li{margin:5px 5px;font-size:11px;float:left;color:#487ba8;height:80px;}
#admin-panel .main-panel .block .templates ul li img{margin:0px 0px 3px !important;padding:0px !important;}
#admin-panel .main-panel .block .slider-navigation{display:block;padding:10px 15px;}
#admin-panel .main-panel .block .slider-navigation .counter{float:left;padding:3px;}
#admin-panel .main-panel .block .slider-navigation .counter a{margin:0px 4px;}
#admin-panel .main-panel .block .slider-navigation .counter a.activeSlide{font-weight:bold;text-decoration:underline;}
#admin-panel .main-panel .block .slider-navigation .prev-next-button{float:left;}
#admin-panel .main-panel .block .slider-navigation .prev-next-button .prev-button{width:23px;height:23px;background:url(../img/btn-prev.png) no-repeat;float:right;cursor:pointer;}
#admin-panel .main-panel .block .slider-navigation .prev-next-button .next-button{width:23px;height:23px;background:url(../img/btn-next.png) no-repeat;float:right;cursor:pointer;}
#admin-panel .main-panel .block .slider-navigation a{margin:0;}
#admin-panel .main-panel .block .slider-navigation a img{margin:0;}
li.c{float:none !important;width:0px !important;height:0px !important;}

#admin-panel .main-panel .block .templates .template-block{display:block;padding:10px 0px;}
#admin-panel .main-panel .block .templates .template-block .the-template{float:left;width:200px;margin:0px 20px 0px 0px;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-thumb{width:200px;height:145px;overflow:hidden;margin:0 auto;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-thumb img{margin:0;border:5px solid #d4d4d4;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-thumb img:hover{border:5px solid #ffd409;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info{width:200px;height:30px;font-size:11px;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info .template-name{position:absolute;top:0;left:0;padding-left:4px;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info .template-preview{position:absolute;top:0;right:0;padding-right:4px;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info .template-name a{color:#3b5e75;font-weight:bold;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info .template-preview a{color:#999999;}
#admin-panel .graybg{background:#f4f4f4;}
#footer{width:960px;margin:0 auto;padding-top:15px;color:#525659;padding-bottom:10px;}
#footer a{text-decoration:underline;color:#525659;}
#footer a:hover{text-decoration:none;}

/* admin form styles */
.regular-text{width:90%;display:block;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;border:1px solid #cccccc;margin:5px 5px;padding:4px;font-size:11px;color:#777;}
.regular-label{font-size:11px;color:#777;}
.regular-select{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;border:1px solid #cccccc;margin:5px 5px;padding:4px;font-size:11px;color:#777;}
.small-text{width:100px;}
.fixed-text{width:200px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;border:1px solid #cccccc;margin:5px 0px;padding:4px;font-size:11px;color:#777;}
.fixed-label{width:200px;font-size:11px;color:#777;}
/* error messages */
#admin-panel .message{padding:3px 4px;font-size:11px;font-weight:bold;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;display:inline;}
#admin-panel .updated{background:#ffec93;color:#be6904;}
#admin-panel .error-msg{color:red; padding-left:10px}

/* admin table styles */
#admin-panel table.regular-table {width:100%;font-size:11px;}
#admin-panel table.regular-table  thead{background:#eaeaea;}
#admin-panel table.regular-table  thead tr td{padding:12px 6px;color:#3b5e75;font-weight:bold;text-align:center;}
#admin-panel table.regular-table  tbody tr td{padding:6px 6px;color:#3b5e75;font-weight:bold;text-align:center;}
#admin-panel table.regular-table  tr td{border-bottom:#f4f4f4 1px solid;border-top:#eaeaea 1px solid;}
#admin-panel table.regular-table  tr.current-plan{background:#d4eaf6;}
#admin-panel table.regular-table  img{margin:0 !important;}

#admin-panel .admin-box{float:left;box-shadow:#CCC 0px 0px 5px;padding:10px;width:185px;margin:8px 10px 8px 5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;color:#777777;overflow:hidden;}
#admin-panel .admin-box img{margin:0px !important;}
#admin-panel .admin-box .admin-info{font-size:11px;}
#admin-panel .admin-box .admin-info h3{margin:0px;padding:0px;font-size:14px;color:#2b4f70;}
#admin-panel .admin-box p{margin:0px !important;padding:0px !important;}
#admin-panel .admin-box .edit{font-weight:bold;padding:0px 14px;color:#6a7882;}
#admin-panel .admin-sidebar{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:#e9eff4;color:#6a7882;padding:10px;margin:8px;}
#admin-panel .admin-sidebar h3{color:#6a7882 !important;margin-bottom:0px !important;}
#admin-panel .admin-sidebar ul{margin-left:15px;list-style:square;font-size:11px;}
#admin-panel .admin-sidebar ul li{margin:0px !important;padding:0px !important;}

/* contact page table styles */
#admin-panel div.contact-table{width:100%;font-size:11px;}
#admin-panel div.contact-table table thead{background:#afc3d4;border-bottom:1px solid #9cb0c0;font-weight:bold;font-size:11px;color:#627483;}
#admin-panel div.contact-table table thead td{border-bottom:1px solid #9cb0c0;}
#admin-panel div.contact-table table tbody td{padding:8px 0px;border-bottom:1px solid #e4e4e4;}
#admin-panel div.contact-table table td.checkbox{width:60px;text-align:center;}
#admin-panel div.contact-table table td.name{font-weight:bold;color:#343434;}
#admin-panel div.contact-table input       {margin:0px 0px;padding:0px;width:20px;height:17px;border:none;background:url(../img/ico-sprite-options.png) no-repeat;cursor:pointer;}
#admin-panel div.contact-table input.contact-edit  {background-position: -140px 0px;}
#admin-panel div.contact-table input.contact-delete{background-position: -160px 0px;}
#admin-panel div.contact-table input.contact-edit:hover  {background-position: -140px -17px;}
#admin-panel div.contact-table input.contact-delete:hover{background-position: -160px -17px;}

#admin-panel div.contact-table input.widget-edit  {background-position: -140px 0px;}
#admin-panel div.contact-table input.widget-delete{background-position: -160px 0px;}
#admin-panel div.contact-table input.widget-edit:hover  {background-position: -140px -17px;}
#admin-panel div.contact-table input.widget-delete:hover{background-position: -160px -17px;}

#admin-panel div.contact-table table tbody tr:hover{background:#edf3f8;}
#admin-panel div.contact-table table tbody td a.underline{text-decoration:underline;}
#admin-panel .main-panel .wider{width:100%;float:left;}
#admin-panel .main-panel .wider .feedback-details{width:98%;float:left;}
#admin-panel .main-panel .wider .feedback-details .author-info{padding:2px;padding-left:16px;display:block;margin-left:5px;word-wrap: break-word;}
#admin-panel .main-panel .wider .feedback-details .feedback-meta{padding:2px;padding-left:16px;display:block;margin-left:5px;}
#admin-panel div.contact-table table td.avatar{width:120px;text-align:center;}

/* admins page */
#admin-panel .main-panel .block .label{width:140px;float:left;clear:left;font-size:11px;font-weight:bold;padding:8px 0px 0px 0px;}
#admin-panel .main-panel .block .label label{}
#admin-panel .main-panel .block .wide{width:400px;clear:left;font-size:11px;color:#999999;}
#admin-panel .main-panel .block .input-field{width:240px;float:left;color:#3a5e76;font-weight:bold;padding-left:10px;}
#admin-panel .main-panel .block .checkboxes-field{width:500px;float:left;padding-left:10px;font-size:11px;padding:10px 0px 10px;}
#admin-panel .main-panel .block .checkboxes-field input{margin:2px 2px 0px 14px;float:left;}
#admin-panel .main-panel .block .checkboxes-field label{width:70px;top:1px;float:left;}
#admin-panel .main-panel .block .input-field input{margin-left:-1px;}
#admin-panel .main-panel .block .what-it-looks{background:#eaeff5;display:block;height:230px;}
#admin-panel .main-panel .block .border-bottom{border-bottom:1px solid #dfdfdf;padding-bottom:10px;margin-bottom:10px;}
/*miscs*/
#admin-panel .innerblock{padding:2px 5px;font-size:11px;color:#999;}
#admin-panel .nomargin{margin:0px;}
#admin-panel .align-left{text-align:left;}
#admin-panel .small{font-size:11px;}
#admin-panel .small-btn{padding:2px 4px;background:#b7b7b7;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;font-size:11px;color:#FFF;border:none;cursor:pointer;}
#admin-panel .small-btn:hover{background:#767676;}
#admin-panel .large-btn{background:#6a7881;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;color:#FFF;font-size:12px;border:none;padding:8px 26px;font-weight:bold;text-shadow:#3c4349 0px -1px;cursor:pointer;}
#admin-panel .large-btn:hover{background:#8194a0;}
#admin-panel .gray-btn{padding:2px 4px;background:#b7b7b7;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;font-size:11px;color:#FFF;}
#admin-panel .blue-btn{background:#2a679f;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;color:#FFF;font-size:12px;border:none;padding:4px 6px;font-weight:bold;text-shadow:#1e5384 0px -1px;cursor:pointer;font-size:10px;}
#admin-panel .rounder{-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;}
#admin-panel .gray-btn:hover{background:#767676;}
#admin-panel .large-box{display:block;border:7px solid #e7e7e7;height:400px;}
#admin-panel .right-align{text-align:right;padding-right:2px;}
#admin-panel .noborder{border:none !important;}

#admin-panel span.tooltip{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;box-shadow:#dadada 0px 3px 3px;position:absolute;z-index:10000;padding:4px 6px;background:#c9e5f3;color:#6b7880;margin-left:5px;}}

#admin-panel:after,.the-feedbacks:after,.sorter-bar:after,.admin-filter-bar:after,.block:after,.grids:after,
templates ul:after, .category-picker:after, .category-box:after
{ 
 content: ".";  
 display: block; 
 height: 0; 
 clear: both;
 visibility: hidden; 
}

/* dashboard styles */
#admin-panel .dashboard-updates{float:left;width:440px;border:1px solid #dfdfdf;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;overflow:hidden;color:#3b5e75;} 
#admin-panel .dashboard-pie-chart{float:left;margin-left:20px;margin-top:-13px} 

#admin-panel .dashboard-updates-title{background:#ededed;padding:10px;color#66CCCC;font-size:18px;}
#admin-panel .dashboard-updates-list{padding:15px 10px 15px 40px;margin:0px 0px;border-top:1px solid #dfdfdf;color:#777777;background:url(../img/ico-dashboard-updates.png) no-repeat left;font-size:14px}
#admin-panel .dashboard-updates-list a { color:#777777; }
#admin-panel .dashboard-updates .pending{background-position:0px 11px;}
#admin-panel .dashboard-updates .positive{background-position:0px -25px;}
#admin-panel .dashboard-updates .neutral{background-position:0px -94px;}
#admin-panel .dashboard-updates .negative{background-position:0px -59px;}
#admin-panel .dashboard-updates .ignored{background-position:0px -128px;}
#admin-panel .dashboard-graybox{border:1px solid #dfdfdf;background:#f7f7f7;padding:10px;background:#f7f7f7;}
#admin-panel .dashboard-graybox:after{content: ".";  
 display: block; 
 height: 0; 
 clear: both;
 visibility: hidden; }
 
#admin-panel .dashboard-pie-chart .overall{text-align:center;display:block;font-weight:bold;color:#1e1e1e;margin-top:-20px;}
#admin-panel .dashboard-graybox h3{margin:0px !important;padding:2px 10px;font-size:12px !important;} 
#admin-panel .dashboard-graybox p{margin:0px !important;padding:2px 10px !important;line-height:normal !important;font-size:12px;}
/*
#widget-setup-block{
    background:#f4f4f4;	
    margin-left:-10px;
}
.widget-setup-border{display:block;height:2px;background:url(../img/false-border.png);}
.widget-options{
padding-bottom:10px;
}
.widget-options h2{
background:#6b7984;
color:#dedede;
font-size:14px;
display:block;
padding:4px 8px;
border:1px solid #626f79;
}
.widget-types{
padding:10px 20px 0px;
}
.widget-types h3{
cursor:pointer !important;
font-size:14px !important;
color:#778086 !important; 
display:block;
padding-bottom:10px;
margin:0px !important;
background:url(../img/false-border.png) repeat-x bottom;
}
.widget-types h3 label{cursor:pointer;}
.widget-opts{
padding:5px 10px;
position:relative;
}

.widget-pagination{padding:0px 10px 30px;}
.activePage{color:#7e7e7e;text-decoration:underline;}
.widget-create{position:absolute;top:5px;right:15px;font-size:12px;color:#3f4a53;text-shadow:#889096 0px 1px;font-weight:bold}
.widget-create:hover{color:#97b2c6;text-shadow:#373a3d 0px 1px;}
*/
.templates ul{list-style:none}
.templates ul li{width:84px;}
.widget-opts a.button{
background:#d1e2f1 url(../img/button-highlight.png) top repeat-x;
color:#6b8194;
padding:4px 11px;
-webkit-border-radius:12px;
-moz-border-radius:12px;
border-radius:12px;
border:1px solid #9ebdd8;
font-weight:bold;
}
.widget-opts a.button:hover{background:#dce9f5;}

.widget-opts a.button-gray{
background:#eceff1 url(../img/button-highlight.png) top repeat-x;
color:#6b8194;
padding:4px 11px;
-webkit-border-radius:12px;
-moz-border-radius:12px;
border-radius:12px;
border:1px solid #c1c8d0;
font-weight:bold;
}
div.button-gray{
background:#eceff1 url(../img/button-highlight.png) top repeat-x;
color:#6b8194;
width:50px;
-webkit-border-radius:12px;
-moz-border-radius:12px;
border-radius:12px;
border:1px solid #c1c8d0;
font-weight:bold;    
font-size:10px;
margin-left:auto;
margin-right:auto;
margin-top:5px;
}
div.button-gray:hover{ background:#dce9f5;}

.widget-opts a.button-gray:hover{background:#dce9f5;}

.feedback-td-font { font-size: 12px; }


#mainbodywrapper{width:100%;height:auto;}
#mainbodycontent{width:880px;height:auto;margin:0 auto;}
#login{width:880px;margin:30px 0px 200px;}
#login-box{width:408px;border:1px solid #c9cacc;margin:0 auto;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:#c2c3c4 url(../img/login-box-bg.png) repeat-x top;
		   padding:20px;}
#login a{text-decoration:underline;color:#2c3844;}	
#login-logo{margin-top:90px;text-align:center;}
/*form styles */
input.login-btn{width:138px;height:50px;background:url(../img/login-button-large.png) top center no-repeat;border:none;font-size:20px;color:#FFF;font-family:Georgia, "Times New Roman", Times, serif;margin-right:6px;}
input.login-btn:hover{background-position:bottom center;cursor:pointer;}
input.reg-text{padding:7px 10px;width:290px;border:1px solid #d1d1d1;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#828284;}
input.login-text{padding:7px 10px;width:240px;border:1px solid #d1d1d1;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#828284;}
select.reg-select{padding:7px 10px;width:310px;border:1px solid #d1d1d1;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#828284;}

input.create-btn{width:138px;height:50px;background:url(../img/login-button-large.png) top center no-repeat;border:none;font-size:20px;color:#FFF;font-family:Georgia, "Times New Roman", Times, serif;margin-right:6px;}
input.create-btn:hover{background-position:bottom center;cursor:pointer;}

/* jcrop css */
#crop_status{padding-left:5px;}
.jcrop_div{margin:0 auto;position:relative;margin-bottom:10px;}
.jcrop_div input{display:none !important;}
/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0px;
	position: absolute;
	background: white url('../img/Jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-vline.right { right: 0px; }
.jcrop-hline.bottom { bottom: 0px; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

a.edit, a.save, a.save-feedback-text {
    font-size: 1.4em; 
    color: #2F4F4F   
}

a.contact-link {
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: underline;
}

.add-bcc > li {
    cursor: pointer    
}


#widget-setup-block{
    background:#f4f4f4;	
    margin-left:-10px;
    border-bottom:solid 1px #ebeaea;
    margin-bottom:20px;
    position:relative;
    
}
.widget-setup-border{display:block;height:2px;background:url(../img/false-border.png);}
.widget-options{
    padding-bottom:10px;
}
.widget-options h2{
    background:#6b7984;
    color:#dedede;
    font-size:14px;
    display:block;
    padding:4px 8px;
    border:1px solid #626f79;
}
.widget-types{
    padding:10px 20px 0px;
}
.widget-types h3{
    cursor:pointer !important;
    font-size:14px !important;
    color:#778086 !important; 
    display:block;
    padding-bottom:10px;
    margin:0px !important;
    background:url(../img/false-border.png) repeat-x bottom;
}
.widget-types h3 label{cursor:pointer;}
.widget-opts{
    padding:5px 10px;
}
.templates ul{list-style:none}
.templates ul li{width:84px;}
        
a.button{
    background:#d1e2f1 url(../img/button-highlight.png) top repeat-x;
    color:#6b8194;
    padding:4px 11px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
    border:1px solid #9ebdd8;
    font-weight:bold;
    text-decoration:none !important;
}
a.button:hover{background:#dce9f5;}

a.button-gray{
    background:#eceff1 url(../img/button-highlight.png) top repeat-x;
    color:#6b8194;
    padding:4px 11px;
    text-decoration:none !important;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
    border:1px solid #c1c8d0;
    font-weight:bold;
}
a.button-gray:hover{background:#dce9f5;}
#widget-preview{
    width:360px;
    margin-left: auto;
    margin-right: auto;
}

a.widget-overview-btn {
    color: #DEDEDE;    
}

a.widget-overview-btn:hover {
    color: #f0f0f0;    
}

.widget-block{
    border:1px solid #c8ced2;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    margin-bottom:15px;
    overflow:hidden;
}
.widget-block h2{
    display:block;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #c8ced2;
    color:#8a9196;
    text-shadow:#fafafa 0px 1px;
    font-size:14px;font-weight:bold;
    padding:8px 12px;
    background:#eceff1;
}
            
.widget-block .html-code textarea{display:block;width:338px;height:133px;border:none;padding:10px;font-size:11px;}

.widget-options .widget-title{color:#7093b2;font-size:20px;margin-bottom:10px;}
.widget-info{padding:10px 0px;background:url(../img/false-border.png) repeat-x bottom;}
.widget-info table{font-size:11px;}
.widget-button-list{list-style:none;padding:0px;margin:0px;}
.widget-button-list li{margin-bottom:12px !important;}

.widget-pagination{padding:0px 10px 30px;}
.activePage{color:#7e7e7e;text-decoration:underline;}

.widget-create{position:absolute;top:5px;right:15px;font-size:12px;color:#EEE;font-weight:bold}
.widget-create:hover{color:#FFF;}

.widget-options h2.ico-widget{background:#6b7984 url(../img/ico-widgets.png) no-repeat top left;padding-left:24px;}
.widget-options h2.ico-widget.form{background:#6b7984 url(../img/ico-widgets.png) no-repeat bottom left;padding-left:23px;}

/* submission widget */
input.large-text, input.form-text{padding:10px;width:80%;}
.form-design-slide,
.l-design-slide,
.r-design-slide,
.tr-design-slide,
.tl-design-slide,
.br-design-slide,
.bl-design-slide
{width:480px;height:120px;padding:0px 10px;}

.form-design-prev,.l-design-prev,.r-design-prev,.br-design-prev,.bl-design-prev,.tr-design-prev,.tl-design-prev{
    float:left;
    width:25px;
    height:80px; 
    background:url(../img/btn-prev.png) no-repeat center center; 
    cursor:pointer;
}
.form-design-next,.l-design-next,.r-design-next,.br-design-next,.bl-design-next,.tr-design-next,.tl-design-next{
    float:right;
    width:25px;
    height:80px;
    background:url(../img/btn-next.png) no-repeat center center;
    cursor:pointer;
}
.form-designs,.l-designs,.r-designs,.br-designs,.bl-designs,.tr-designs,.tl-designs{
    width:430px;
    float:left;
    height:120px;
}
.form-design-group{
    width:586px;
    margin:5px 10px;
    height:120px;
}
.form-design{
    width:81px;
    float:left;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    border:1px solid #f4f4f4;
}
.tab-design{
    width:81px;
    float:left;
    text-align:center;
    padding:5px 0px;
    border:1px solid #f4f4f4;
}
.form-design img,.tab-design img{
    margin:0px !important;
}
.form-design span,.tab-design span{
    color:#487ba8;
    font-size:11px;
}
.form-design:hover,.tab-design:hover{
    background:#CCC;
    cursor:pointer;
    background:#ffffff;
    border:1px solid #d1d1d1;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.selected-theme{
    background:#CCC;
    cursor:pointer;
    background:#e1f8ff;
    border:1px solid #d1d1d1;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.reg-text-active{color:#AAA;font-style:italic;}
.status-change,.priority-change{
    cursor: pointer;
}

.status-change > select {
    font-size: 10px;    
}

.priority-change > select { 
    font-size: 10px;    
}

.widget-selection-block{
    display:block;
}
.widget-preview-box{
    width:210px;float:left;
    margin-right:40px;
}
.widget-preview-box p{font-size:11px;padding-top:10px !important;text-align:center;}
.widget-previews{
    display:block;
    border:1px solid #d6dfe6;
    background:#ebf0f4 url(/img/white-px.jpg) top repeat-x;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-align:center;
}
.widget-previews h4{
    font-size:12px !important;
    padding-bottom:10px;
    border-bottom:1px solid #d6dfe6;
}
.widget-previews img{margin:0 auto !important;padding-bottom:10px;	}
.white-button{background:#FFF;border:#d2d2d2 1px solid;-webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;padding:4px 12px;color:#748e9e;font-weight:bold;}

.the-selected-widget-box{
    width:194px;
    height:244px;
    border:#d6dfe6 1px solid;
    position:absolute;
    background:#ebf0f4;
    right:0px;
    top:-10px;
    padding:8px;
    text-align:center;
}
.the-selected-widget-box img{margin:0 !important;}

.regular-textarea{
display: block;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
border: 1px solid #CCC;
margin: 5px 5px;
padding: 4px;
font-size: 11px;
color: #777;}
/*
#formcodebox{
    display:block;
    background:#f4f4f4;
}
#formcodeboxcontent:after{content: ".";  
         display: block; 
         height: 0; 
         clear: both;
         visibility: hidden; }
#formcodebox ul{list-style:none;margin:0;padding:0;width:180px;float:left;margin-top:0px;background:#6b7984;height:450px;}
#formcodebox ul li{padding:15px 20px 15px 50px;font-weight:bold;cursor:pointer;margin:0px !important;
    border-top:1px solid #7f8f9c;background:#6b7984 url(/img/formcodelinkicons.png) no-repeat;color:#FFF;
    border-bottom:1px solid #56646f;
}
#formcodebox ul li:hover{
    color:#FFF;
    background-color:#768591;
}

#formcodebox ul li.formcodelink1{background-position:0px 0px;}
#formcodebox ul li.formcodelink2{background-position:0px -48px;}
#formcodebox ul li.formcodelink3{background-position:0px -96px;}
#formcodebox ul li.formcodelink4{background-position:0px -147px;}
#formcodebox ul li.formcodelink1.active{background-position:-157px 0px;}
#formcodebox ul li.formcodelink2.active{background-position:-157px -48px;}
#formcodebox ul li.formcodelink3.active{background-position:-157px -96px;}
#formcodebox ul li.formcodelink4.active{background-position:-157px -147px;}
#formcodebox ul li.active{background-color:#f4f4f4;color:#6b7984;border-top:1px solid #f4f4f4;border-bottom:1px solid #f4f4f4;}
#formcodeboxcontent{margin-left:180px;background:#f4f4f4;}

#formcodeboxcontent1,#formcodeboxcontent2,#formcodeboxcontent3,#formcodeboxcontent4{position:relative;text-align:center;width:496px;padding:10px 0px;}
#formcodeboxcontent2,#formcodeboxcontent3,#formcodeboxcontent4{display:none;}
#formcodeboxcontent input[type="text"],#formcodeboxcontent textarea{margin:5px auto !important;}
.formcodelink1{background}
*/

#formcodebox{
    display:block;
    background:#f4f4f4;
}
#formcodeboxcontent:after{content: ".";  
         display: block; 
         height: 0; 
         clear: both;
         visibility: hidden; }
#formcodebox ul{list-style:none;margin:0;padding:0;width:180px;float:left;margin-top:0px;background:#FFF;height:400px;}
#formcodebox ul li{padding:12px 20px 12px 50px;font-weight:bold;cursor:pointer;margin:0px !important;
    background:#FFF url(/img/formcodelinkicons.png) no-repeat;color:#627382;margin-top:-2px;
    border-bottom:1px solid #f0f2f3;
}
#formcodebox ul li:hover{
    background-color:#f0f2f3;
}
#formcodebox ul li.active div.formcodearrow{display:block;}
#formcodebox ul li.formcodelink1.active{background-position:0px 0px;}
#formcodebox ul li.formcodelink2.active{background-position:0px -48px;}
#formcodebox ul li.formcodelink3.active{background-position:0px -96px;}
#formcodebox ul li.formcodelink4.active{background-position:0px -147px;}
#formcodebox ul li.formcodelink1{background-position:-157px 0px;}
#formcodebox ul li.formcodelink2{background-position:-157px -48px;}
#formcodebox ul li.formcodelink3{background-position:-157px -96px;}
#formcodebox ul li.formcodelink4{background-position:-157px -147px;}
#formcodebox ul li.active{background-color:#5e7790;color:#FFF;border-bottom:1px solid #f4f4f4;}
#formcodebox ul li div.formcodearrow{width:11px;height:41px;background:url(/img/formcodearrow.png) no-repeat;position:absolute;right:-11px;top:0px;display:none;}
#formcodeboxcontent{margin-left:180px;background:#f4f4f4;}


#formcodeboxcontent1,#formcodeboxcontent2,#formcodeboxcontent3,#formcodeboxcontent4{position:relative;text-align:center;width:496px;padding:10px 0px;}
#formcodeboxcontent2,#formcodeboxcontent3,#formcodeboxcontent4{display:none;}
#formcodeboxcontent input[type="text"],#formcodeboxcontent textarea{margin:5px auto !important;}
.formcodelink1{background}
#bye {
    font-size: 10px;
    line-height: 48px;
    text-align: right;
    text-transform: uppercase;
}
#bye a {
    background: url("/img/sign-off.png") no-repeat scroll 100% 15px transparent;
    color: #999999;
    float: right;
    margin: -13px 14px 0 0;
    padding-right: 21px;
}

.large-avatar {
    display:none;
    z-index:999999;
    position:absolute !important;
    -moz-box-shadow: 5px 5px 3px #888;
    -webkit-box-shadow: 5px 5px 3px #888;
    box-shadow: 5px 5px 3px #888;
    left:-1%;
    top:-1%;
    /*border:10px solid #ebecec;*/
}


.blue{color:#447697;}
#wizard{}
.wizard-text-field,.wizard-select{
    width: 85%;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #CCC;
    margin: 10px 0px;
    padding: 8px 8px;
    font-size: 11px;
    color: #777;	
    font-family:Arial;
}
.underline{text-decoration:underline}
.wizard-steps{width:666px;}
.wizard-buttons{padding-bottom:20px;margin-top:20px;}
.wizard-btn{background:#8e9caa;
    color:#FFF;font-weight:bold;-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:6px 10px;font-size:14px;
}
.wizard-btn:hover{background-color:#4c7095}
.wizard-btn:active{background-color:#305579;}

.wizard-display-options{font-size:12px;margin-top:15px;}
.wizard-display-options p{margin:2px 0px;}
.wizard-display-options p:after,#wizard-preview-author-info:after{display:block;visibility:hidden;content:".";height:0;clear: both}
.wizard-display-options label{width:180px;float:left;}
.wizard-display-options input{width:20px;float:left;margin:2px 0px 0px 0px;}
.wizard-feedback-preview{
    display:block;
    background:#EEE;
    padding:5px;
    margin:0 auto;
    margin-top:10px;
    width:250px;
}
#wizard-preview-box{
    background:#FFF;
    padding:15px;
}
.widget-preview-text{width:260px;color:#4b7ca0;font-size:14px;margin:0 auto;}
#wizard-preview-avatar img{padding:0px !important;margin:0px !important;}
#wizard-preview-avatar{float:left;width:48px;}	
#wizard-preview-author-details{margin-left:60px;}
#wizard-preview-author-name{font-weight:bold;}
#wizard-preview-author-position{font-size:11px;}
#wizard-preview-author-location{font-size:10px;}
#wizard-preview-author-position span a{color:#b8b3ba;text-decoration:underline;}
#wizard-preview-feedback-date{text-align:right;color:#b8b3ba;font-size:11px;}
#wizard-preview-feedback-text{padding:10px 0px;}
#wizard-preview-feedback-text .read-full{font-size:10px;color:#86bde4}

.facebook-icon{
	margin-top:8px;display:block;
	padding:1px 0px 4px 30px;
	background:url(/img/companyLinkIcons.png) no-repeat center left;
}
.twitter-icon{
	margin-top:8px;display:block;
	padding:1px 0px 4px 30px;
	background:url(/img/companyLinkIcons.png) no-repeat;
	background-position:bottom left;
}
.website-icon{
	margin-top:8px;display:block;
	padding:2px 0px 4px 30px;
	background:url(/img/companyLinkIcons.png) no-repeat top left;
	background-position:top left;
}
a.dark-blue{color:#51708d;}

.alert{
	 margin-bottom: 5px;
	 background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
.alert-block {padding-bottom:14px;padding-top: 14px;}
.alert-error{background-color:#F2DEDE;border-color:#EED3D7;color:#B94A48;}
.alert-success{background-color:#DFF0D8;border-color:#D6E9C6;color:#468847;}
.alert-info{background-color:#D9EDF7;border-color:#BCE8F1;color: #3A87AD;}

#pring_plans{
height:228px;
position:relative;
margin-bottom: 3px;
}
#pring_plans .plan-box{height:233px;float:left;}
#admin-panel .main-panel .block #pring_plans .plan-box img {margin:0;}
.plan-active{
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
#basic:hover,#enhanced:hover,#premium:hover{
	background: url("../img/plan_basic.png") no-repeat scroll 0 0 transparent;
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}
#enhanced{
	cursor:pointer;
	width: 226px;
	height:233px;
	background: url("../img/plan_enhanced.png") repeat scroll 0 0 transparent;
}
#basic{
  	 background: url("../img/plan_basic.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    top: 28px;
    width: 220px;
}
#premium{
	cursor:pointer;
	width: 219px;
	background: url("../img/plan_premium.png") repeat scroll 0 0 transparent;
	top: 28px;
}

.lightbox {
    position:absolute;
    z-index:100000;
    top:10%;
    left:50%;
    width:780px;
    margin-left:-390px;
    color:#626262;
    overflow:none;
    background: url("../img/faded-bg.png") repeat;
    border:none;
    font-size:11px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display: none;
}
.lightbox-close{
    background:url("../img/lightbox-close.png") no-repeat;
    width:21px;
    height:21px;
    position:absolute;
    z-index:100001;
    right:25px;top:22px;
    cursor:pointer;
}
.lightbox-styles{
    display:block;
    overflow:hidden;
    text-align:left;
    background:#FFF;
    -webkit-border-radius:inherit;
    -moz-border-radius:inherit;
    border-radius:inherit;		
    margin:4px 5px;								
}
.lightbox-styles h2{
    padding:20px 30px;
    background:#efefef;
    border-bottom:1px solid #e0e0e0;
    text-align:left;
    font-size:14px;
    color:#363636;
    -webkit-border-top-left-radius:inherit;
    -moz-border-top-left-radius:inherit;
    border-top-left-radius:inherit;										
    -webkit-border-top-right-radius:inherit;
    -moz-border-top-right-radius:inherit;
    border-top-left-right:inherit;										
    cursor: move;
    
}
.lightbox-content{
    padding:30px;
}
.lightbox-form td.small{
    color:#9a9fa3;
}
.lightbox-form td .regular-text{
    width:92%;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;										
}
.lightbox-form h3{
    font-size:12px;
}
.lightbox-footer{
    background:#babfc2;
    padding:15px 30px;
}

.lightbox-buttons{text-align:right;}
#lightbox .custom-message{position:absolute;left:530px;list-style:none;font-size:11px;color:#9ba4ab;top:290px;}
.lightbox-padding{
    /* change display to block when error is not shown to preserve the height */
    padding:20px 30px;display:none;
}

#admin-panel .main-panel .the-feedbacks div.lightbox{
    position:fixed;
    margin-left:-390px;
}

#admin-panel .request-dialog div.lightbox{
    position:fixed;
    margin-left:-390px;
}

#admin-panel .main-panel .the-feedbacks div.lightbox-close{
    position:absolute;
}
#admin-panel .main-panel .the-feedbacks div.lightbox-content{
    padding:30px;
}
#admin-panel .main-panel .the-feedbacks div.lightbox-footer{
    padding:15px 30px;
}
#admin-panel .main-panel .the-feedbacks div.lightbox-styles{
    margin:4px;
}


/*new css for attachments for inbox*/
#admin-panel .main-panel .the-feedbacks div.additional-info{
    background:#f7f7f7;
    border:1px solid #dde7ef;
    padding:15px;
    margin-top:10px;
}
#admin-panel .main-panel .the-feedbacks div.custom-meta-list{
    margin-bottom:10px;
}
#admin-panel .main-panel .the-feedbacks div.custom-meta{
    float:left;
}
#admin-panel .main-panel .the-feedbacks div.custom-meta-name{
    font-weight:bold;
    font-size:11px;
    color:#6499cd;
    float:left;
    margin-right:10px;
}
.custom-meta-name span.value{
    color:#a2a2a2;
    font-weight:normal;
}
#admin-panel .main-panel .the-feedbacks div.uploaded-images-and-links div.image-block{
    width:60px;
    margin-right:10px;
    float:left;
}
#admin-panel .main-panel .the-feedbacks div.video-circle{
    background:url("../img/video-play-circle.png") no-repeat;
    width:25px;
    height:25px;
    position:absolute;
    z-index:100;
    top:50%;
    margin-top:-12px;
    left:50%;
    margin-left:-12px;
    cursor:pointer;
}
#admin-panel .main-panel .the-feedbacks div.delete-block{
    position:absolute;
    top:0px;
    right:3px;
    z-index:100;
    background:#000;
    color:#FFF;
    cursor:pointer;
    margin:0px;
    padding:0px 2px;
}
#admin-panel .main-panel .the-feedbacks div.delete-block:hover{
    background:#036;
}
#admin-panel .main-panel .the-feedbacks div.the-thumb{
    cursor:pointer;
}
.uploaded-images-popup{
    margin:5px;
}
.uploaded-images-name{
    color:#FFF;
    text-shadow:#000 0px 1px;
    position:absolute;
    bottom:5px;
    padding:10px 10px;
    background: url("../img/faded-bg-2.png") repeat;
    display:block;
    right:5px;
    left:5px;
}
.uploaded-images-view{
    text-align:center;
    background:#FFF;
}
.uploaded-images-close{
    background:url("../img/uploaded-images-close.png") no-repeat;
    width:45px;
    height:45px;
    position:absolute;
    z-index:100001;
    right:-15px;top:-15px;
    cursor:pointer;
}
