@charset "utf-8";
/* CSS Document */
/* Admin Panel for 36Stories */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, 
pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, 
s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, caption{border: 0;margin: 0;outline: 0;padding: 0;vertical-align: baseline;position:relative;}
body{
	font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#666;
	background:url(../img/background.jpg) #FFF;
	margin:0;padding:0;height:100%;width:100%;
}	
a{text-decoration:none;color:#b0b0b0;border:none;}
a img{border:none;}
div.c{clear:both;} /* clearer */
/* 
Color References:

sidebar menu color : 			 #dfdfdf
top links color (top):    		 #858585
top links color (lower top):	 #343434

end of reset */

/* styling starts here */
#admin-container{width:100%;height:100%;}
#admin-panel{width:960px;margin:0 auto;background:#6c7a85;height:auto;box-shadow:#BBB 0px 0px 10px;}
#admin-panel .left-panel{width:25%;background:#6c7a85;float:left;border-top:1px solid #d9d9d9;}
#admin-panel .left-panel .logo{height:30px;background:#f6f6f6;padding:6px 10px 10px;}
#admin-panel .left-panel .left-menu{display:block;background:#6b7984;}
#admin-panel .left-panel .left-menu ul{margin:0;padding:0;list-style:none;color:#dfdfdf;font-weight:bold;text-shadow:#414950 0px -1px;font-size:14px;border-right:1px solid #606d77;}

#admin-panel .left-panel .left-menu ul li{padding:15px 5px 15px 20px;cursor:pointer;border-bottom:1px solid #59656f;border-top:1px solid #798993;}
#admin-panel .left-panel .left-menu ul li div.arrow-right{background:url(../img/ico-arrow-right.png) top no-repeat;width:23px;height:24px;position:absolute;right:10px;top:50%;margin-top:-12px;display:none;}
#admin-panel .left-panel .left-menu ul li a{color:#FFF;padding:4px 5px 4px 40px;}


#admin-panel .left-panel .left-menu ul li.dashboard a{background:url(../img/ico-dashboard.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.inbox     a{background:url(../img/ico-inbox.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.published a{background:url(../img/ico-published.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.featured  a{background:url(../img/ico-featured.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.filed     a{background:url(../img/ico-filed.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.setup     a{background:url(../img/ico-setup.png) no-repeat left top;}
#admin-panel .left-panel .left-menu ul li.contacts  a{background:url(../img/ico-contacts.png) no-repeat left top;}

#admin-panel .left-panel .left-menu ul li sup.count{background:#d92222;text-shadow:#a31a1a 0px -1px;color:#FFF;font-size:11px;box-shadow:#57626c 0px 1px 2px;padding:1px 8px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;position:absolute;top:12px;}
/* hover state */
#admin-panel .left-panel .left-menu ul li:hover,#admin-panel .left-panel .left-menu ul li.selected{background:#768591;}
#admin-panel .left-panel .left-menu ul li:hover a,#admin-panel .left-panel .left-menu ul li.selected a{color:#FFF;background-position:left bottom;}
#admin-panel .left-panel .left-menu ul li:hover div.arrow-right,#admin-panel .left-panel .left-menu ul li.selected div.arrow-right{display:block;}

#admin-panel .left-panel .left-buttons ul{margin:0;padding:15px;list-style:none;color:#dfdfdf;font-weight:bold;text-shadow:#414950 0px -1px;font-size:12px;border-right:1px solid #606d77;border-top:1px solid #798993;}

#admin-panel .left-panel .left-buttons ul li{padding:8px 5px 8px 20px;margin:10px;background:#4c5660;cursor:pointer;
											 -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
											 border-top:1px solid #3b434b;border-left:1px solid #3b434b;
											 border-bottom:1px solid #788792;border-right:1px solid #788792;}
/* hover state */									 
#admin-panel .left-panel .left-buttons ul li.request a{background:url(../img/ico-mail.png) no-repeat left top;}
#admin-panel .left-panel .left-buttons ul li.add     a{background:url(../img/ico-add.png) no-repeat left top;}
#admin-panel .left-panel .left-buttons ul li 		 a{color:#FFF;padding:4px 5px 4px 30px;}

#admin-panel .left-panel .left-buttons ul li:hover{background:#56606c}
#admin-panel .left-panel .left-buttons ul li:hover a{color:#FFF;background-position:left bottom;}


#admin-panel .main-panel{width:75%;background:#ffffff;float:left;border-top:1px solid #000000;}
#admin-panel .main-panel .admin-session-bar{height:45px;background:#343434;display:blockborder-right:1px solid #000;border-bottom:1px solid #000;} /* deduct 1px for the border */
#admin-panel .main-panel .admin-session-bar .admin-avatar{width:45px;height:45px;border-right:1px solid #000;float:left;}
#admin-panel .main-panel .admin-session-bar .admin-details{width:340px;float:left;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-signed-in{padding:7px 13px;margin:8px 0px;font-weight:bold;color:#babfc2;border-right:1px solid #2a2929;float:left;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-signed-in span{color:#dae7ee;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links{padding:7px 13px;margin:8px 0px;border-left:1px solid #3f3f3f;float:left;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul{list-style:none;margin:0px;padding:0px;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul li{display:inline;font-size:10px;margin:0px;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul li a{color:#858585;padding:3px 6px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul li a:hover,#admin-panel .main-panel .admin-session-bar .admin-details .admin-links ul li a.selected{background:#2b2b2b;text-shadow:#000 0px 1px;}
#admin-panel .main-panel .admin-session-bar .admin-meta{width:300px;float:right;padding:6px 10px;margin:5px 0px;text-align:right;}
#admin-panel .main-panel .admin-session-bar .admin-meta select{background:#2b2b2b;border:1px solid #393939;color:#616161;font-size:11px;padding:2px 4px;margin:0px 10px;}
#admin-panel .main-panel .admin-session-bar .admin-meta a{font-size:10px;color:#b1b1b1;}
#admin-panel .main-panel .admin-session-bar .admin-meta a:hover{color:#bebebe;}

#admin-panel .main-panel .admin-status-bar{padding:12px 20px;display:block;background:#babfc2;border-bottom:#a9b3b9 1px solid;}
#admin-panel .main-panel .admin-status-bar .current-page{padding:4px 0px 4px 30px;font-size:11px;color:#343434;font-weight:bold;text-shadow:#cbced1 0px 1px;}
#admin-panel .main-panel .admin-status-bar .dashboard	{background:url(../img/ico-dashboard.png)	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .inbox		{background:url(../img/ico-inbox.png) 		no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .published	{background:url(../img/ico-published.png) 	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .featured	{background:url(../img/ico-featured.png) 	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .filed		{background:url(../img/ico-filed.png) 		no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .setup		{background:url(../img/ico-setup.png) 		no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .contacts	{background:url(../img/ico-contacts.png) 	no-repeat left center;}
#admin-panel .main-panel .admin-status-bar .current-page span{color:#666666;margin-left:14px;font-weight:normal;text-shadow:none;}

#admin-panel .main-panel .admin-nav-bar{padding:8px 20px;display:block;background:#FFF;margin-top:10px;}
#admin-panel .main-panel .admin-nav-bar ul{list-style:none;font-size:10px;}
#admin-panel .main-panel .admin-nav-bar ul li{margin:0 6px;padding:0;display:inline;}
#admin-panel .main-panel .admin-nav-bar ul li a{padding:4px 8px;color:#343434;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
#admin-panel .main-panel .admin-nav-bar ul li a:hover,#admin-panel .main-panel .admin-nav-bar ul li a.selected{background:url(../img/admin-nav-bar-bg.png) #b7bec2 repeat-x top;text-shadow:#a9b1b6 0px 1px;color:#FFF;}

#admin-panel .main-panel .admin-filter-bar{padding:10px 20px;display:block;background:#FFF;}
#admin-panel .main-panel .admin-filter-bar .admin-filter-select{float:left;}
#admin-panel .main-panel .admin-filter-bar .admin-filter-datepicker,
#admin-panel .main-panel .admin-filter-bar .admin-filter-search{float:right;border:1px solid #d6d6d6;padding:1px 3px;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;margin:2px 5px;}
#admin-panel .main-panel .admin-filter-bar select,#admin-panel .main-panel .admin-filter-bar input{font-size:11px;color:#999999;width:170px;}
#admin-panel .main-panel .admin-filter-bar select{padding:1px 3px;color:#616161;border:1px solid #d6d6d6;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:2px 5px;}
#admin-panel .main-panel .admin-filter-bar input{border:none;padding:0px 4px;}

#admin-panel .main-panel .admin-sorter-bar{padding:8px 0px;display:block;border-top:1px solid #b0c4d5;border-bottom:1px solid #b0c4d5;background:#cfdbe5;font-size:10px;}
#admin-panel .main-panel .admin-sorter-bar select{font-size:10px;padding:1px 3px;color:#616161;border:1px solid #d6d6d6;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:2px 2px;}

#admin-panel .main-panel .admin-sorter-bar .pagination{text-align:right;padding-right:10px;font-size:11px;}
#admin-panel .main-panel .admin-sorter-bar .pagination-text{text-align:center;padding-top:5px;font-size:11px;}
#admin-panel .main-panel .admin-sorter-bar .pagination input.pagination-input{font-size:11px;width:10px;text-align:center;font-weight:bold;color:#5c646a;padding:1px 3px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border:1px solid #ababab;}

#admin-panel .main-panel .the-feedbacks{padding:0px 0px;display:block;background:#FFF;font-size:10px;}
#admin-panel .main-panel .the-feedbacks .feedback{clear:both;float:left;display:block;width:100%;border-bottom:1px solid #e4e4e4;padding:15px 0px;}

#admin-panel .main-panel .left{width:10%;float:left;text-align:center;}
#admin-panel .main-panel .left input{top:2px;}

#admin-panel .main-panel .right{width:90%;float:left;}

#admin-panel .main-panel .right .feedback-avatar{width:10%;float:left;}
#admin-panel .main-panel .right .feedback-avatar img{border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;padding:1px;}
#admin-panel .main-panel .right .feedback-details{width:90%;float:left;}

#admin-panel .main-panel .right .feedback-details .author-info{padding:2px;display:block;margin-left:5px;}
#admin-panel .main-panel .right .feedback-details .author-info h3 span{font-weight:normal;color:#999999;font-size:10px;margin-left:4px;}
#admin-panel .main-panel .right .feedback-details .author-info p{margin:5px 0px 3px;font-size:11px;}

#admin-panel .main-panel .right .feedback-details .feedback-meta{padding:2px;display:block;margin-left:5px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .rating{color:#FFF;padding:1px 4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .poor{background:#c1431c;text-shadow:#8f3215 0px -1px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .average{background:#c1661c;text-shadow:#8f4c15 0px -1px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .good{background:#8ba510;text-shadow:#677a0c 0px -1px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .excellent{background:#109ca5;text-shadow:#0c747a 0px -1px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .permission{font-size:9px;color:#aaaaaa;margin:0px 5px 0px 2px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .status,
#admin-panel .main-panel .right .feedback-details .feedback-meta .priority{color:#5b81a2;margin:0px 2px 0px 2px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .status span,
#admin-panel .main-panel .right .feedback-details .feedback-meta .priority span{color:#777777;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .modify{margin-left:5px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .modify a{color:#5b81a2;padding:1px 4px;background:#eeeeee;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
#admin-panel .main-panel .right .feedback-details .feedback-meta .modify a:hover{color:#eee;background:#5b81a2;}
#admin-panel .main-panel .right .feedback-details .options{width:120px;position:absolute;top:0px;right:0px;z-index:1}
#admin-panel .main-panel .right .feedback-details .options input{margin:0px 0px;padding:0px;width:20px;height:17px;border:none;background:url(../img/ico-sprite-options.png) no-repeat;cursor:pointer;}
#admin-panel .main-panel .right .feedback-details .options input.check      {background-position: 0px 0px;}/* this input button uses css sprites. change background position to change the images. */
#admin-panel .main-panel .right .feedback-details .options input.save       {background-position: -20px 0px;}
#admin-panel .main-panel .right .feedback-details .options input.reply      {background-position: -40px 0px;}
#admin-panel .main-panel .right .feedback-details .options input.feature    {background-position: -60px 0px;}
#admin-panel .main-panel .right .feedback-details .options input.contact    {background-position: -80px 0px;}
#admin-panel .main-panel .right .feedback-details .options input.check:hover	{background-position: 0px bottom;}
#admin-panel .main-panel .right .feedback-details .options input.save:hover		{background-position: -20px bottom;}
#admin-panel .main-panel .right .feedback-details .options input.reply:hover	{background-position: -40px bottom;}
#admin-panel .main-panel .right .feedback-details .options input.feature:hover	{background-position: -60px bottom;}
#admin-panel .main-panel .right .feedback-details .options input.contact:hover	{background-position: -80px bottom;}
#admin-panel .main-panel .right .timestamp{display:block;font-size:11px;min-height:60px;}
#admin-panel .main-panel .right .timestamp .date{color:#484848;}
#admin-panel .main-panel .right .timestamp .time{color:#8d8c8c;}
#admin-panel .main-panel .right .timestamp input{margin:0px 0px;padding:0px;width:20px;height:17px;border:none;background:url(../img/ico-sprite-options.png) no-repeat;cursor:pointer;}
#admin-panel .main-panel .right .timestamp input.flag  {background-position:-100px 0px;position:absolute;top:0;right:5px;}
#admin-panel .main-panel .right .timestamp input.remove{background-position:-120px 0px;position:absolute;bottom:0;right:5px;}
#admin-panel .main-panel .right .timestamp input.flag:hover  {background-position:-100px bottom;}
#admin-panel .main-panel .right .timestamp input.remove:hover{background-position:-120px bottom;}

#admin-panel .main-panel .block{border-bottom:1px solid #e4e5e6;display:block;padding:10px 20px 10px 34px;line-height:17px;}
#admin-panel .main-panel .block span.count{border:1px solid #e3e3e3;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:3px 5px;margin-right:20px;font-weight:bold;}
#admin-panel .main-panel .block p{padding:5px 0px;margin-bottom:4px;}
#admin-panel .main-panel .block h3{font-size:11px;color:#343434;margin:10px 0px 10px 0px;}
#admin-panel .main-panel .block h4{font-size:11px;color:#3b5e75;margin:10px 0px 10px 0px;}
#admin-panel .main-panel .block h4 a{color:#3b5e75;text-decoration:underline;}
#admin-panel .main-panel .block img{margin:10px 20px 10px 0px;}
#admin-panel .main-panel .block a.customize{padding:4px 10px;background:#6a7882;font-size:10px;font-weight:bold;color:#FFF;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;text-shadow:#4c5a63 0px -1px;}
#admin-panel .main-panel .block a.customize:hover{background:#7e8e99;}
#admin-panel .main-panel .block ul.invoices{font-size:11px;color:#777777;list-style:none;margin:10px 0px;}
#admin-panel .main-panel .block ul li{margin:5px 0px;}
#admin-panel .main-panel .block ul li a{text-decoration:underline;color:#777;}
#admin-panel .main-panel .block ul li a:hover{color:#9d9d9d;}
/* sliding template thumbnails */
#admin-panel .main-panel .block .templates{display:block;padding:10px 0px;height:150px;}
#admin-panel .main-panel .block .slider-navigation{display:block;text-align:right;position:absolute;top:15px;right:46px;}
#admin-panel .main-panel .block .slider-navigation .counter{float:right;padding:3px;}
#admin-panel .main-panel .block .slider-navigation .counter a{margin:0px 4px;}
#admin-panel .main-panel .block .slider-navigation .counter a.activeSlide{font-weight:bold;text-decoration:underline;}
#admin-panel .main-panel .block .slider-navigation .prev-next-button{float:right;}
#admin-panel .main-panel .block .slider-navigation .prev-next-button .prev-button{width:23px;height:23px;background:url(../img/btn-prev.png) no-repeat;float:right;cursor:pointer;}
#admin-panel .main-panel .block .slider-navigation .prev-next-button .next-button{width:23px;height:23px;background:url(../img/btn-next.png) no-repeat;float:right;cursor:pointer;}
#admin-panel .main-panel .block .slider-navigation a{margin:0;}
#admin-panel .main-panel .block .slider-navigation a img{margin:0;}

#admin-panel .main-panel .block .templates .template-block{display:block;padding:10px 0px;}
#admin-panel .main-panel .block .templates .template-block .the-template{float:left;width:200px;margin:0px 20px 0px 0px;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-thumb{width:200px;height:145px;overflow:hidden;margin:0 auto;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-thumb img{margin:0;border:5px solid #d4d4d4;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-thumb img:hover{border:5px solid #ffd409;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info{width:200px;height:30px;font-size:11px;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info .template-name{position:absolute;top:0;left:0;padding-left:4px;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info .template-preview{position:absolute;top:0;right:0;padding-right:4px;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info .template-name a{color:#3b5e75;font-weight:bold;}
#admin-panel .main-panel .block .templates .template-block .the-template .template-info .template-preview a{color:#999999;}
#footer{width:960px;margin:0 auto;padding-top:15px;color:#525659;padding-bottom:10px;}
#footer a{text-decoration:underline;color:#525659;}
#footer a:hover{text-decoration:none;}

/* admin form styles */
.regular-text{width:90%;display:block;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;border:1px solid #cccccc;margin:5px 5px;padding:4px;font-size:11px;color:#777;}
.regular-label{font-size:11px;color:#777;}
.regular-select{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;border:1px solid #cccccc;margin:5px 5px;padding:4px;font-size:11px;color:#777;}
.small-text{width:100px;}
.fixed-text{width:200px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;border:1px solid #cccccc;margin:5px 0px;padding:4px;font-size:11px;color:#777;}
.fixed-label{width:200px;font-size:11px;color:#777;}
/* error messages */
#admin-panel .message{padding:3px 4px;font-size:11px;font-weight:bold;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;display:inline;}
#admin-panel .updated{background:#ffec93;color:#be6904;}

/* admin table styles */
#admin-panel table.regular-table {width:100%;font-size:11px;}
#admin-panel table.regular-table  thead{background:#eaeaea;}
#admin-panel table.regular-table  thead tr td{padding:12px 6px;color:#3b5e75;font-weight:bold;text-align:center;}
#admin-panel table.regular-table  tbody tr td{padding:6px 6px;color:#3b5e75;font-weight:bold;text-align:center;}
#admin-panel table.regular-table  tr td{border-bottom:#f4f4f4 1px solid;border-top:#eaeaea 1px solid;}
#admin-panel table.regular-table  tr.current-plan{background:#d4eaf6;}
#admin-panel table.regular-table  img{margin:0 !important;}

/* contact page table styles */
#admin-panel div.contact-table{width:100%;font-size:11px;}
#admin-panel div.contact-table table thead{background:#afc3d4;border-bottom:1px solid #9cb0c0;font-weight:bold;font-size:11px;color:#627483;}
#admin-panel div.contact-table table thead td{border-bottom:1px solid #9cb0c0;}
#admin-panel div.contact-table table tbody td{padding:8px 0px;border-bottom:1px solid #e4e4e4;}
#admin-panel div.contact-table table td.checkbox{width:60px;text-align:center;}
#admin-panel div.contact-table table td.name{font-weight:bold;color:#343434;}
#admin-panel div.contact-table input       {margin:0px 0px;padding:0px;width:20px;height:17px;border:none;background:url(../img/ico-sprite-options.png) no-repeat;cursor:pointer;}
#admin-panel div.contact-table input.edit  {background-position: -140px 0px;}
#admin-panel div.contact-table input.delete{background-position: -160px 0px;}
#admin-panel div.contact-table input.edit:hover  {background-position: -140px bottom;}
#admin-panel div.contact-table input.delete:hover{background-position: -160px bottom;}

/* admins page */
#admin-panel .main-panel .block .label{width:140px;float:left;clear:left;font-size:11px;font-weight:bold;padding:8px 0px 0px 0px;}
#admin-panel .main-panel .block .label label{}
#admin-panel .main-panel .block .wide{width:400px;clear:left;font-size:11px;color:#999999;}
#admin-panel .main-panel .block .input-field{width:240px;float:left;color:#3a5e76;font-weight:bold;padding-left:10px;}
#admin-panel .main-panel .block .checkboxes-field{width:500px;float:left;padding-left:10px;font-size:11px;padding:10px 0px 10px;}
#admin-panel .main-panel .block .checkboxes-field input{margin:2px 2px 0px 14px;float:left;}
#admin-panel .main-panel .block .checkboxes-field label{width:70px;top:1px;float:left;}
#admin-panel .main-panel .block .input-field input{margin-left:-1px;}
#admin-panel .main-panel .block .what-it-looks{background:#eaeff5;display:block;height:230px;}
/*miscs*/
#admin-panel .innerblock{padding:2px 5px;font-size:11px;color:#999;}
#admin-panel .nomargin{margin:0px;}
#admin-panel .align-left{text-align:left;}
#admin-panel .small{font-size:11px;}
#admin-panel .small-btn{padding:2px 4px;background:#b7b7b7;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;font-size:11px;color:#FFF;border:none;cursor:pointer;}
#admin-panel .small-btn:hover{background:#767676;}
#admin-panel .large-btn{background:#6a7881;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;color:#FFF;font-size:12px;border:none;padding:8px 26px;font-weight:bold;text-shadow:#3c4349 0px -1px;cursor:pointer;}
#admin-panel .large-btn:hover{background:#8194a0;}
#admin-panel .gray-btn{padding:2px 4px;background:#b7b7b7;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;font-size:11px;color:#FFF;}
#admin-panel .rounder{-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;}
#admin-panel .gray-btn:hover{background:#767676;}
#admin-panel .large-box{display:block;border:7px solid #e7e7e7;height:400px;}
#admin-panel .right-align{text-align:right;padding-right:2px;}
#admin-panel .noborder{border:none !important;}
