.company-rating .stars{ width: 110px; }
#desc_textbox_container{ display: none; }
#action_buttons{ position: absolute; top: 0px; right: 10px; }
#action_buttons .action_button{ float: left; display: none; }