/* responsive overrides */
body{
	background:#DDD;
}
#fadedContainer{
	width:auto;
	max-width:876px;
}
#mainContainer{
	margin-left:13px;
	margin-right:13px;
	width:auto;
	max-width:850px;
}
.company-text{
	/*width:77%;*/
	/*margin-left:195px;*/
	width: 650px;
	float:right;
	/*top:-15px;*/
	top: 8px;
}
.send-button{
	width:21%;
}
.send-button a{
	width:100%;
	font-size:1rem;
}
.company-recommendation{
	width:77%;
}
.company-rating{
	/*width:30%;*/
	width:195px;
	float:left;
}
.company-text-content{
	/*padding:5px;
	background:#f1f1f1;*/
    top: -22px;
	padding:10px 15px;
	background:#f6f6f6;
}
/* Tablet Landscape */
@media screen and (max-width: 600px) {
	#socialLinkIcons{
		right:10px;
	}
	.company-description{
		margin-bottom:5px;
	}
	.company-recommendation{
		margin-top:10px;
		width:100%;
	}
	.company-rating{
		margin-top:10px;
		width:100%;
		text-align:left;
	}
	.rating-stars-container{
		float:left;
	}
	#mainContainer{
		margin-left: 0px;
		margin-right: 0px;
	}
	#companySummaryContainer {
		margin-left: 13px;
		margin-right: 13px;
	}
}
/* Tabled Portrait */
@media screen and (max-width: 480px) {
	/*avatar*/
	#avatarContainer{
		width:100px;
		height:100px;
		bottom:10px;
	}
   .company-text{
		width:100%;
	}
	.send-button{
		margin-top:10px;
		width:100%;
	}
	.company-recommendation{
		margin-top:10px;
		width:100%;
	}
	.company-rating{
		margin-top:10px;
		width:100%;
		text-align:left;
	}
	.company-rating .stars{
		float:left;
	}
	.company-rating .review-count{
		margin-top:4px;
		float:left;		
	}
	.rating-stars-container{
		float:left;
	}
	.company-description{
		margin-bottom:5px;
	}
}
