#widget{
	width:760px;
	height:300px;
	padding:0px;
	margin:0px;	
	min-width:760px;
	background:#000;
}
.block{
	display:block;
	width:100%;
}

/* new clear fix dawg! */
.block:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.widgetStyledBorder{
	height:7px;
	background:url(../images/border.png);
	margin:0px 15px;
}

/* here comes the css styles for this widget! */
#widgetHeader{
	padding:8px 13px;
	border:1px solid #171717;
	background:#232323;
}
	.theWidgetTitle{
		font-size: 14px;
		font-weight: bold;
		color: #FFF;
		text-align: left;
		width: 70%;
		float: left;
		padding-top:4px;
	}
	.theWidgetButtons{
	
	}
		.sendFeedbackButton{
			padding-top:8px;
		}
		.sendFeedbackButton a{
			color: #6C6C6C;
			text-decoration: underline;
			font-size: 11px;
			font-weight:bold;
		}
		.viewAllFeedbackButton input{
			background: url(../images/viewallbtn.png) no-repeat;
			background-position: top;
			width: 96px;
			height: 27px;
			border: none;
			cursor: pointer;
			border-image: initial;
		}
/* end of header styles */
#widgetBody{
	padding:0px;
	margin:10px 15px;
	height:200px;
}
	#theLoopBox,
	#theSoloBox{
		position:absolute;	
		top:0px;
		left:0px;
		width:100%;
	}
	.theFeedback{
		width:93%;
	}
	.theFeedback.mid{
		margin:0 auto;
	}
		.theFeedbackAvatar{
			width:48px;
			float:left;
		}
		.theFeedbackAuthorInfo{
			margin-left:58px;
			height:60px;
		}
		.theFeedbackAuthorName,.soloFeedbackAuthorName{color:#FFF !important;}
		.theFeedbackText{
			height:115px;
			padding:10px 0px 5px;
			line-height:18px;
			overflow:hidden;
			text-align:justify;
			color: #969696;
			font-size:13px;
			cursor:pointer;
		}
		.theFeedbackText span{color:#0F0 !important;}
	.theFeedbackShare{
		padding-top:2px;
	}

#widgetFooter{
	position:relative;bottom:0px;
	margin:0px 15px;
	padding:5px 0px;
}
.theFooterText{
	position:relative;right:0px;
	bottom:0px;
	float:right;
}
	.theFooterText a{
		font-size: 11px;
		color: #333333;
	}
	
	
/* codes for the solo Feedback */
.soloFeedbackAvatar{width:50px;float:left;text-align:center;}
.soloFeedbackDetails{margin-left:60px;}
	.soloFeedbackAuthor ul{
		list-style:none;
		margin:0px;
		padding:0px;
	}
	.soloFeedbackAuthor ul li{
		display:inline-block;
		margin-right:5px;
	}
	.soloFeedbackText{
		height:150px;
		line-height:18px;
		margin-top:15px;
		color: #969696;
	}
	.soloFeedbackText p{
		margin-top:0px;
		margin-bottom:15px;
	}
	.soloFeedbackSocialButtons{
		padding-top:10px;
	}
	.back{
		padding-left:7px;
		background:url(../images/ico-back.png) left center no-repeat;
	}
	.back a{
		color:#919191;
		text-decoration:none;
	}
.share{
	padding-left: 16px;
	background: url(../images/ico-share.png) no-repeat left top;
	margin-left:4px;
}
.theSocialButtons{
	background:#f3f3f3;
	padding:6px 8px;
	border:1px solid #e4e4e4;
	position:absolute;
	bottom:18px;
	left:0px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
	}
	
.shareTail{background:url(/img/share-arrow.png) no-repeat;width:11px;height:7px;position:absolute;bottom:-7px;left:3px;}
	.twitter-button{margin-top:0px;float:left;width:80px;}
	.facebook-button{float:left;width:80px;}
	
.thePagination{
	text-align:center;
	position:absolute;
	width:100%;
	color:#969696;
	font-size:11px;
}
.pagination{text-align:center;font-size:11px;padding:0px 0px;margin-bottom:3px;overflow:hidden}
	.pagination a{padding:2px 3px;color:#4b4b4b;text-decoration:none;}
	.pagination a.activeSlide{background:#232323;color:#FFF;}
	.pagination a.activeSlide:hover{color:#EEE}
		#prev,#next{cursor:pointer;color:#1d1d1d;}
		#prev:hover,#next:hover{color:#4b4b4b;}	
		.pagination a:hover{color:#4b4b4b;text-decoration:underline;}

/*fb like button hack*/
.fb_send_button_form_widget{top:-198px !important;}
.fb_edge_comment_widget{top:-198px !important;}
