@charset "utf-8";
/* CSS Document */

body{
	background:url(images/background.jpg);
}
a{color:#4894b3;text-decoration:none;}
a:hover{color:#54a1c0;}

#headerWrapper{
	background:url(images/gray-bg.jpg) repeat-x;
	box-shadow:#aaa 0px 1px 5px;
	border-top:#DDD 1px solid;
	border-bottom:#BBB 1px solid;
}

#headerContent{

}
#headerTitle{
	color:#aaa;
	text-shadow:#EEE 0px 1px;
}

#headerTitle strong{color:#5d96d5;}
#headerTitle span {text-shadow:#EEE 0px 1px;}
#headerTitle span a{color:#000;}
#headerTitle a:hover{color:#666;}
#bodyWrapper{

}

#bodyContent{

}

#feedbackBox{
	background:#FFF;
	border:1px solid #FAFAFA;
	border-bottom:1px solid #CCC;
}

.gray-text{color:#a0a0a0}
.theAvatar{
	border:1px solid #AAA;
}	
