@charset "utf-8";
/* CSS Document */

body{
	background:#FFF;
}
a{color:#4894b3;text-decoration:none;}
a:hover{color:#54a1c0;}

#headerWrapper{
	background:url(images/gray-bg.jpg) repeat-x;
	border-top:#DDD 1px solid;
}

#headerWrapper{
	padding-bottom:10px;
	background:#FFF url(images/aglow/border.jpg) repeat-x bottom;
}

#headerTitle{
	color:#aaa;
}
#headerTitle strong{color:#5d96d5;}
#headerTitle span {}
#headerTitle span a{color:#000;}
#headerTitle a:hover{color:#666;}

#feedbackBox{background:#FFF;border:1px solid #c3c7ca;box-shadow:#DDD 0px 1px 3px;}
#feedbackBox{background:#e3f0f5;border:1px solid #c3c7ca;}

.gray-text{color:#a0a0a0}
