@charset "utf-8";
/* CSS Document */

body{
	background:#FFF;
}
a{color:#4894b3;text-decoration:none;}
a:hover{color:#54a1c0;}

#headerWrapper{
	padding-bottom:0px;
	background:#ffa800;
}

#headerTitle{
	color:#171616;
	text-shadow:none;	
}
#pageTitle h1{color:#171616;}
#headerTitle strong a{color:#FFF;	text-shadow:none;}
#headerTitle span {color:#FFF;}
#headerTitle span a{color:#FFF;	text-shadow:none;}
#headerTitle a:hover{color:#FFF;	text-shadow:none;}

#feedbackBox{background:#FFF;border:1px solid #cdcdcd;box-shadow:none;}
#feedbackBox{background:#cacaca;border:1px solid #cdcdcd;}
.gray-text{color:#666}
.gray-text a{color:#222;}
.gray-text a:hover{color:#333;}
