@charset "utf-8";
/* CSS Document */

body{
	background:#000;
}
a{color:#4894b3;text-decoration:none;}
a:hover{color:#54a1c0;}

#headerWrapper{
	background:#232323;
}

#headerTitle{
	color:#FFF;
}
#headerTitle strong{color:#FFF;}
#headerTitle span {text-shadow:none;}
#headerTitle span a{color:#AAA;}
#headerTitle a:hover{color:#FFF;}

#feedbackBox{background:#000;box-shadow:none;color:#AAA}
#feedbackBox{background:#000;border:1px solid #151515;}
.theAuthorName{color:#FFF;}
.theAuthorCompany{color:#666}
.gray-text{color:#666}
.gray-text a{color:#AAA;}
.gray-text a:hover{color:#FFF;}
