@charset "utf-8";
/* CSS Document */

body{
	background:#FFF;
}
a{color:#4894b3;text-decoration:none;}
a:hover{color:#54a1c0;}

#headerWrapper{
	border-top:1px solid #FFF;
	padding-bottom:0px;
	background:#ededed;
	border-bottom:1px solid #cecece;
}

#headerTitle{
	color:#073870;
	text-shadow:none;	
}
#headerTitle strong a{color:#3e92c7;	text-shadow:none;}
#headerTitle span {color:#55a3d4;}
#headerTitle span a{color:#3e92c7;	text-shadow:none;}
#headerTitle a:hover{color:#55a3d4;	text-shadow:none;}

#feedbackBox{background:#FFF;border:1px solid #cdcdcd;box-shadow:none;}
#feedbackBox{background:#efefef url(images/sky/feedback-bg.png) top repeat-x;border:1px solid #cdcdcd;}
.gray-text{color:#666}
.gray-text a{color:#222;}
.gray-text a:hover{color:#333;}
