@charset "utf-8";
/* CSS Document */

body{
	background:#FFF;
}
a{color:#4894b3;text-decoration:none;}
a:hover{color:#54a1c0;}

#headerWrapper{
	background:#e5e5e5;
	box-shadow:#CCC 0px 1px 5px;
	border-bottom:4px solid #FFF;
}

#headerTitle{
	color:#aaa;
}
#headerTitle strong{color:#0d3f7c;}
#headerTitle span {}
#headerTitle span a{color:#6b6b6b;}
#headerTitle a:hover{color:#777;}

#feedbackBox{background:#FFF;box-shadow:#AAA 0px 2px 2px;}
#feedbackBox{background:#efefef;border:2px solid #FFF;padding:30px 28px;}
.gray-text{color:#666}
.gray-text a{color:#222;}
.gray-text a:hover{color:#333;}
