@charset "utf-8";
/* CSS Document */

body{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
a{color:#4894b3;text-decoration:none;}
a:hover{color:#54a1c0;}
div{
	position:relative;
	display:block;
	padding:0px;
	margin:0px;
}

#headerWrapper{
	height:42px;
	width:100%;
}

#headerContent{
	margin:0 auto;
	width:900px;
	padding:8px 0px;
}
#headerTitle{
	font-size:19px;
}
.padfix{padding-top:5px;}
.padfix a{font-weight:normal !important;font-size:12px !important; }
.right{float:right}
#headerTitle strong{color:#5d96d5;}
#headerTitle span {padding-left:20px;text-shadow:#EEE 0px 1px;}
#headerTitle span a{color:#000;font-size:14px;font-weight:bold;}
#headerTitle a:hover{color:#666;}
#bodyWrapper{
	width:100%;
}

#bodyContent{
	margin:0 auto;
	width:900px;
	padding-top:40px;
}

#feedbackBox{
	padding:60px 65px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.block{display:block;width:100%;overflow:hidden;}
.gray-text{color:#a0a0a0}
.theAvatar{
	width:150px;
	float:left;
}
.theAuthor{
	width:600px;
	float:left;
	padding-left:16px;
	padding-top:30px;
}
	.theAuthorName{font-size:30px;color:#1982ad;}
	.theAuthorCompany{font-size:14px;font-weight:bold;color:#000;}
	.theDate{color:#a0a0a0;font-size:12px;margin-top:3px;}
	.theText{font-size:33px;font-family:Georgia, "Times New Roman", Times, serif;line-height:1.6em;}
	
	.companyLogo{float:left;width:252px;}
	.companyDetails{float:left;width:618px;padding-left:30px;}
	.companyDetails h2{font-family:Georgia, "Times New Roman", Times, serif;font-size:24px;font-weight:normal;margin-top:2px;}
	.companyDetails p{line-height:1.6em;font-size:14px;}
	