@charset "utf-8";
/* CSS Document */

body{
	color:#666;
	background:#FFF;
}

a{color:#5c8ac0;}
a:hover{color:#6896cb;}

#s36_main{
	background:#FFF;
}

#s36_whitebar{
	background:#FFF;
}

#s36_pages,#s36_steps{
}

.error-message{
	background:url(../../../img/error-bg.png) repeat;
	color:#212121;
	border-top:2px solid #e5db58;
	border-bottom:2px solid #e5db58;
}
a{color:#4894b3;}
a:hover{color:#54a1c0;}


#headerTitle{
	color:#073870;
		text-shadow:none;
		
}
#headerTitle strong a{color:#073870;	text-shadow:none;}
#headerTitle span {}
#headerTitle span a{color:#111;	text-shadow:none;}
#headerTitle a:hover{color:#444;	text-shadow:none;}
/* template styles */

#headerWrapper{
	padding-bottom:0px;
	background:#dbdbdb;
}
.formTitle{background:#dbdbdb;}
.formTitle h2{color:#5b5b5b;}
#feedbackBox{border:1px solid #dedede;background:#ffffff;}
/* classes */
	
a.s36_btn{
	background:#dedede;
	border:1px solid #CCC;
	color:#828385;
	text-shadow:#FFF 0px 1px;
}
a.s36_btn:hover{
	background:#eaeaea;
	border:1px solid #CCC;
	color:#828385;
	text-shadow:none;
}
/* crop button */
a.cropbtn{
	background:#1cb5f5;
	border:1px solid #0d9cd7;
	color:#FFF;
	text-shadow:none;
}
a.cropbtn:hover{
	background:#4dc9fc;
	border:1px solid #1cb5f5;
	color:#FFF;
	text-shadow:none;
}
/* crop button */
/* pages class */

	.s36_pages h1{background:#aab0b2;color:#FFF;}
	.s36_pages h3{color:#303030;}
	.s36_pages h3 a.s36_tip{color:#c3c3c3;}
	.s36_pages h3 a.s36_tip:hover{}
	.s36_pages h4{color:#6f7375;}
	.s36_pages .step-contents{}
	
	#s36_whattowrite{
		background:url(../../../img/ico-question.png) no-repeat top left;
	}
	#s36_whattowrite ul{}
/* trackbar styles */

/* rating page */
#track_ball{background:url(../../../img/trackball.png) no-repeat;}

#s36_ratings{color:#adafb0;}

/* permission page */
#s36_permissions{background:#900;}

.s36_perm_details{
	background:#f4f4f4;
}
.s36_perm_details .s36_perm_icon{
	background:#F4F4F4;
}
.full,.limited,.private{border:2px solid #FFF;}
.full{}
.full .s36_perm_details{background:#f4f4f4;}
.full .s36_perm_icon{background:#f4f4f4;}
.full .s36_perm_radio{}
.limited .s36_perm_details{background:#f4f4f4;}
.limited .s36_perm_icon{background:#f4f4f4;}
	.s36_perm_details .s36_perm_icon1,
	.s36_perm_details .s36_perm_icon2,
	.s36_perm_details .s36_perm_icon3{
		background:url(../../../img/ico-perms.png) no-repeat;
	}
	.s36_perm_details .s36_perm_icon2{
		background-position:-40px 0px;
	}
	.s36_perm_details .s36_perm_icon3{
		background-position:-80px 0px;
	}
	.s36_perm_text p{color:#7d8082;}
/* form styles */
.regular-textarea{
	background:#f7f7f7;
	border:1px solid #e1e1e1;
}
/* connect page */
.s36_block .company{background:url(../../../img/s36-logo.png);}
.s36_block .warning{background:#d1d4d4;}
.gray{
	background:#f0f0f0;
}
/* miscs */
.s36_blue_btn{
	background:#84b1ce;
	color:#FFF;
}
.s36_blue_btn:hover{
	background:#97c2de;
}

/* form styles */
input.regular-text{border:1px solid #c5c9cb;color:#666;box-shadow:#f0f0f0 0px 0px 0px 3px;}
input.reg-text-active{color:#999;}
select.regular-select{border:1px solid #c5c9cb;color:#666;-webkit-box-shadow:#f0f0f0 0px 0px 0px 3px;box-shadow:#f0f0f0 0px 0px 0px 3px;}
select.reg-text-active{color:#AAA;}
select:focus{border:1px solid #b1d1e4;outline:#b1d1e4;-webkit-box-shadow:#daecf8 0px 0px 0px 3px;box-shadow:#daecf8 0px 0px 0px 3px;}
input:focus{border:1px solid #b1d1e4;outline:#b1d1e4;box-shadow:#daecf8 0px 0px 0px 3px;}
/* review page slide */
.review-avatar{background:#e6e8e8;}
.review-feedback-box{background:#f7f7f7;border:1px solid #e1e1e1;}
.review-edit-feedback a{color:#afb1b2;}
.review-feedback-box .regular-textarea{background:#FFF;}
