@charset "utf-8";
/* CSS Document */

body{
	color:#666;
	background:#000;
}
a{color:#5c8ac0;}
a:hover{color:#6896cb;}
#headerWrapper{
	background:#232323;
}

#headerTitle{
	color:#FFF;
}
#headerTitle strong a{color:#FFF;text-shadow:none;}
#headerTitle span {text-shadow:none;}
#headerTitle span a{color:#AAA;text-shadow:none;}
#headerTitle a:hover{color:#FFF;text-shadow:none;}
#s36_main{
	background:#FFF;
}
#s36_whitebar{
	background:#FFF;
}
#s36_pages,#s36_steps{
}
.error-message{
	background:url(../../../img/error-bg.png) repeat;
	color:#212121;
	border-top:2px solid #e5db58;
	border-bottom:2px solid #e5db58;
}

/* classes */	
a.s36_btn{
	background: url(../../../img/btnbg.jpg) repeat-x #5892d1;
	border:1px solid #295691;
	color:#FFF;
	text-shadow:#295691 0px 1px;
}
a.s36_btn:hover{
	background:#82bbe8;
	border:1px solid #295691;
	color:#FFF;
	text-shadow:#295691 0px 1px;
}
/* crop button */
a.cropbtn{
	background:#1cb5f5;
	border:1px solid #0d9cd7;
	color:#FFF;
	text-shadow:none;
}
a.cropbtn:hover{
	background:#4dc9fc;
	border:1px solid #1cb5f5;
	color:#FFF;
	text-shadow:none;
}
/* crop button */
/* pages class */
	.formTitle{background:#232323;border-bottom:1px solid #333;}
	.formTitle h2{color:#FFF;text-shadow:#000 0px 1px;}
	.s36_pages h1{background:#000;color:#FFF;border:1px solid #333;}
	.s36_pages h3{color:#303030;}
	.s36_pages h3 a.s36_tip{color:#c3c3c3;}
	.s36_pages h3 a.s36_tip:hover{}
	.s36_pages h4{color:#6f7375;}
	.s36_pages .step-contents{}
	#s36_whattowrite{
		background:url(../../../img/ico-question.png) no-repeat top left;
	}
	#s36_whattowrite ul{}
/* trackbar styles */
#s36_trackbar{
	/*background:url(../../../img/dark/trackbar.png) no-repeat !important;*/
}

/* rating page */
#track_ball{background:url(../../../img/trackball.png) no-repeat;}
#feedbackBox{background:#000;border:1px solid #333;}
#s36_ratings{color:#adafb0;}

/* permission page */
#s36_permissions{background:#900;}

.s36_perm_details{
	background:#f4f4f4;
}
.s36_perm_details .s36_perm_icon{
	background:#F4F4F4;
}
.full,.limited,.private{border:2px solid #FFF;}
.full{}
.full .s36_perm_details{background:#f4f4f4;}
.full .s36_perm_icon{background:#f4f4f4;}
.full .s36_perm_radio{}
.limited .s36_perm_details{background:#f4f4f4;}
.limited .s36_perm_icon{background:#f4f4f4;}
	.s36_perm_details .s36_perm_icon1,
	.s36_perm_details .s36_perm_icon2,
	.s36_perm_details .s36_perm_icon3{
		background:url(../../../img/ico-perms.png) no-repeat;
	}
	.s36_perm_details .s36_perm_icon2{
		background-position:-40px 0px;
	}
	.s36_perm_details .s36_perm_icon3{
		background-position:-80px 0px;
	}
	.s36_perm_text p{color:#7d8082;}
/* form styles */
.regular-textarea{
	background:#f7f7f7;
	border:1px solid #e1e1e1;
}
/* connect page */
.s36_block .company{background:url(../../../img/s36-logo.png);}
.s36_block .warning{background:#d1d4d4;}
.gray{
	background:#f0f0f0;
}
/* miscs */
.s36_blue_btn{
	background:#84b1ce;
	color:#FFF;
}
.s36_blue_btn:hover{
	background:#97c2de;
}

/* form styles */
input.regular-text{background:#131313;border:1px solid #272727;color:#666;box-shadow:#1c1c1c 0px 0px 0px 3px;}
input.reg-text-active{color:#999;}
select.regular-select{background:#131313;border:1px solid #272727;color:#666;-webkit-box-shadow:#1c1c1c 0px 0px 0px 3px;box-shadow:#1c1c1c 0px 0px 0px 3px;}
select.reg-text-active{color:#AAA;}
select:focus{border:1px solid #AAA;outline:#5d5d5d;-webkit-box-shadow:#222 0px 0px 0px 3px;box-shadow:#222 0px 0px 0px 3px;}
input:focus{border:1px solid #AAA;outline:#5d5d5d;box-shadow:#222 0px 0px 0px 3px;}

/* review page slide */
.review-avatar{background:#e6e8e8;}
.review-feedback-box{background:#000;border:1px solid #333;color:#FFF;}
.review-edit-feedback a{color:#afb1b2;}
.review-feedback-box .regular-textarea{background:#000;}
.regular-textarea{background:#000;border:1px solid #333;color:#FFF;}

/* Company Details Block */
.companyDetails h2,.companyDetails p{
	color:#999;
}
.companyLinks{
	background:#1e1e1e;
	border-bottom:#333;
}
.companyLinks ul li{
	border-right:1px solid #333;
}
