@charset "utf-8";
/* CSS Document */

body{
	background:#000000;color:#666;
}
a{color:#4894b3;}
a:hover{color:#54a1c0;}

#headerWrapper{
	background:#232323;
}

#headerTitle{
	color:#FFF;
}
#headerTitle strong{color:#FFF;text-shadow:none;}
#headerTitle span {text-shadow:none;}
#headerTitle span a{color:#AAA;text-shadow:none;}
#headerTitle a:hover{color:#FFF;text-shadow:none;}
#s36_main{
	background:#FFF;
}

/* page style not the form style */
.companyDetails{color:#000;}
.companyDetails h2{color:#FFF}
.companyDetails p{color:#CCC;}
.companyLinks{background:none;}
.companyLinks ul li{border-right:1px solid #666;}
.companyLinks ul li a{background:url(../../../img/companyLinkIcons.png) no-repeat;}

/* green cross */
.green-cross{padding-left:15px; background:url(images/dark/green-cross.png) no-repeat left center;}
/* feedbacks */
.feedback{background:#000;box-shadow:none;color:#AAA}
.featured{background:#000;border:1px solid #151515;}
.featured .feedbackAuthor img{border:1px solid #CCC;}
.featured .feedbackAuthor h2{color:#FFF;}
.featured .feedbackAuthor h4{color:#CCC;}
.featured .feedbackTextTail{background:url(images/dark/featured-bubble-tail.png) no-repeat;}
.featured .feedbackTextBubble{background:#202020;color:#d8d8d8;}
.featured .feedbackDate{color:#333;}
/* normal */
.normal{background:#000;border:1px solid #151515;}
.normal .feedbackAuthor h2{color:#FFF;}
.normal .feedbackAuthor h4{color:#CCC;}
.normal .feedbackText p{color:#CCC;}
.normal .feedbackTextTail{background:url(images/dark/normal-bubble-tail.png) no-repeat;}
.normal .feedbackTextBubble{background:#202020;color:#333;}
.normal .feedbackMeta{color:#CCC;}
.normal .feedbackDate{color:#999;}
