#theBar{
    background:#e6eaed url(/fullpage/common/img/topBarBg.jpg) repeat-x;
    height:40px;
    width:100%;
    box-shadow:#999 0px 0px 3px;
    z-index:100000;
    position:fixed;
    top: 0px;
}
#theBarTab{
    width:26px;
    height:23px;
    background:url(/fullpage/common/img/admin-tab.png);
    background-repeat:no-repeat;
    background-position: left top;
    position:absolute;
    top: 40px;
    right: -15px;
    cursor:pointer;
}
#theBarTab:hover{
    background-position:bottom left;
}
#theBarTab.dropped{
    background-position: top right;
}
#theBarTab.dropped:hover{
    background-position:bottom right;
}
#theBarInner{
    width: 876px;
    margin:0 auto;
    position:relative;
    height:40px;
}
#barLeftContent{
    float:left;
}
#barRightContent{
    float:right;
}
.barLinks ul{
    list-style:none;
    padding:14px 0px;
}
.barLinks ul li{
    display:inline;
    padding:14px 0px;
    margin-left:0px;
    position:relative;
}
.barLinks ul li a{
    padding:12px 20px 13px;
    background:none;
    font-weight:bold;
    color:#656e77;

}
.barLinks ul li a:hover{
     background:#8fa9c0;
     color:#FFF;
}
.barLinks ul li ul{
    display:none; 
    position:absolute;
    top:41px;
    left:0px;
    padding:0px;
    width:160px;
    box-shadow:#999 0px 2px 3px;
    z-index: 1;
}
#barImageLogo{
    float:left;
    width:113px;
    height:39px;
    padding:0px 10px;
    background:#FFF;

}
#barImageLogo:hover{
    background:#e6eaed;

}
.barLinks .left-links{
    float:left;
    /*border-left:#172936 1px solid;*/
}
.barLinks ul li ul li{
    display:block;
    padding:0px;
}
.barLinks ul li ul li a{
    display:block;
    font-size:11px;
    padding:10px 20px;
}
.barLinks ul li:hover ul{
    display:block;
    background:#e6eaed;
}