/* feedback */
.regular .feedback-actions span{ margin-left: 0px; }
.share-box{ width: 75px; }
.btn-block{ text-align: left; }


/*Fullpage*/
.author .author-information .author-company{
    width: 185px;
}
.company-rating .stars{ width: 110px; }
#fullpage_desc{ width: 98%; }
#fullpage_desc.editable:hover{ background-color: #f4f4f4; cursor: pointer; }
#fullpage_desc_textbox{ display: none; width: 97%; font-size: 12px; }
.last_name{ display: none; }


/* admin panel */
.rounded_corner{ -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; }
.social_url_msg{ display: none; padding: 6px 8px; margin-left: 5px; /*width: 120px;*/ }
.social_url_msg.error_msg{ background-color: #fee; color: #800; border: 1px solid #fdd; }
.social_url_msg.success_msg{ background-color: #E0F8AE; color: #698B22; border: 1px solid #B8DC6F; }

#adminWindowBox input[type="text"]{ width: 250px !important; }
#panel_desc_container{ height: 100px; cursor: pointer; }
#panel_desc_container:hover{ background-color: #f4f4f4; }
.companyDescription{ margin: 2px 6px; }
#panel_desc_textbox{ display: none; width: 99%; height: 94px; }