/* description ajax edit */
.company-rating .stars{ width: 110px; }
#desc_textbox_con{ display: none; }
#desc_textbox{ width: 97%; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border: 1px solid #CCC; padding: 4px; font-size: 12px; color: #777; }
#action_buttons{ position: absolute; top: -15px; right: 15px; }
#action_buttons .action_button{ float: left; display: none; cursor: pointer; width: 20px; height: 17px; }
#action_buttons .edit{ background: url(../../../img/ico-sprite-options.png) no-repeat; background-position: -140px 0px; }
#action_buttons .save{ background: url(../../../img/ico-green-check.png) no-repeat; }
#action_buttons .cancel{ background: url(../../../img/ico-sprite-options.png) no-repeat; background-position: -160px 0px; }

/* feedback */
.regular .feedback-actions span{ margin-left: 0px; }
.share-box{ width: 75px; }
.btn-block{ text-align: left; }


/*Fullpage*/
.author .author-information .author-company{
    width: 185px;
}

/* admin panel */
.rounded_corner{ -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; }
.social_url_msg{ display: none; padding: 6px 8px; margin-left: 5px; /*width: 120px;*/ }
.social_url_msg.error_msg{ background-color: #fee; color: #800; border: 1px solid #fdd; }
.social_url_msg.success_msg{ background-color: #E0F8AE; color: #698B22; border: 1px solid #B8DC6F; }

#adminWindowBox input[type="text"]{ width: 250px !important; }
#panel_desc_container{ height: 100px; cursor: pointer; }
#panel_desc_container:hover{ background-color: #f4f4f4; }
.companyDescription{ margin: 2px 6px; }
#panel_desc_textbox{ display: none; width: 99%; height: 94px; }