/* new change cover photo. */
#coverPhotoContainer{
    position: relative;
    width: 850px;
}
#coverPhotoContainer:hover #changeCoverButtonIcon{
    display: block;
}
#coverPhoto{
    width:850px;
    height:240px;
    overflow:hidden;
}
#changeCoverButtonIcon{
    background:url(/fullpage/admin/img/changeCoverIcon.png) no-repeat;
    width:18px;
    height:18px;
    position:absolute;
    right:10px;
    top:10px;
    z-index:1;
    cursor:pointer;
    display: none;
}
#changeCoverButtonIcon:hover{
    background-position:bottom;
}
#changeCoverButtonIcon #coverMenuList{
    width:120px;
    background:#FFF;
    z-index:2;
    display:none;
    border:1px solid #a5b9cc;
    color:#4f4f4f;
    top:16px;
    right:106px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    position: relative;
}
#changeCoverButtonIcon #coverMenuList ul li{
    display:block;
    padding:5px 4px 5px 6px;
    font-size:11px;
}
#changeCoverButtonIcon #coverMenuList ul li:hover{
    background:#a5b9cc;
    color:#FFF;
}
#changeCoverButtonIcon:hover #coverMenuList{
    display:block;
}
#changeCoverButtonIcon input {
    cursor: pointer;
    background: #000;
    position: absolute;
    left: -16px;
    top: 0px;
    margin: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*transform: translate(-300px, 0) scale(4);*/ /* gets fucked up in firefox */
    direction: rtl;
    width: 140px;
    height: 17px;
    font-size: 17px;
}
#dragPhoto{
    background: url(/fullpage/common/img/drag-bg.png);
    font-family:Verdana, Geneva, sans-serif;
    font-size:10px;
    position:absolute;
    font-weight:bold;
    color:#FFF;
    z-index:1000;
    top:10px;
    left:10px;
    padding:2px 6px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    display:none;
}

/* the cover buttons baby! */
#coverActionButtons,
#logoActionButtons{
    display: none;
    position:absolute;
    right:10px;
    bottom:10px;
    z-index:1;
    text-align: right;
}
#coverActionButtons ul,
#logoActionButtons ul{
    list-style:none;
}
#coverActionButtons ul li,
#logoActionButtons ul li{
    display:inline;
    /*margin:0px 3px;*/
    margin-left: 6px;
}
#coverActionButtons ul li a,
#logoActionButtons ul li a{
    display:inline-block;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background:#f5f7f9;
    border:1px solid #616f7c;
    padding:3px 8px;
    color:#5898d7;
    box-shadow:#AAA 0px 1px 3px;
}
#coverActionButtons ul li a:hover,
#logoActionButtons ul li a:hover{
    color:#FFF;
    background:#5293d3;
    border:1px solid #2a70b3;
}


 /* avatar menu */
 #avatarContainer{
    position:absolute;
    /*width:210px;
    max-height:175px;*/
    max-width: 210px;
    max-height: 175px;
    border:3px solid #FFF;
    box-shadow:#CCC 0px 1px 2px;
    bottom:0px;
    left:20px;
    background:#FEFEFE;
    overflow: hidden;
    bottom: -20px;
}
#avatarContainer:hover #avatarButtonIcon{
    display: block;
}
#avatarButtonIcon {
    background:url(/fullpage/admin/img/changeCoverIcon.png) no-repeat;
    width:18px;
    height:17px;
    position:absolute;
    right:10px;
    top:10px;
    z-index:1;
    cursor:pointer;
    display: none;
}
#avatarButtonIcon:hover {
    background-position:bottom;
}
#avatarButtonIcon #avatarMenuList {
    width: 85px;
    background:#FFF;
    z-index:2;
    display:none;
    border:1px solid #a5b9cc;
    color:#4f4f4f;
    top:16px;
    right: 71px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    position: relative;
}
#avatarButtonIcon #avatarMenuList ul li {
    display:block;
    padding:5px 4px 5px 6px;
    font-size:11px;
}
#avatarButtonIcon #avatarMenuList ul li:hover {
    background:#a5b9cc;
    color:#FFF;
}
#avatarButtonIcon:hover #avatarMenuList {
    display:block;
}
#avatarButtonIcon input {
    cursor:pointer;
    background:#000;
    position:absolute;
    left:-16px;
    top:0;
    margin:0;
    opacity:0;
    filter:alpha(opacity=0);
    /*transform:translate(-300px, 0) scale(4);*/ /* gets fucked up in firefox */
    direction:rtl;
    width:140px;
    height:17px;
    font-size:17px;
}

#socialLinkIcons{
    position:absolute;
    right:15px;
    bottom:12px;
}
#socialLinkIcons .social-icon{
    margin-left:8px;
    float:left;
}