@charset "utf-8";
/* ADMIN VIEW CSS Document 

	Date: 01/03/2013

*/
/*
 * Grid
 * A simple, flexible, fluid grid system that can flow nicely inside a fluid or a fixed container or play good with another Grid system.
 * Brajeshwar, http://brajeshwar.com
 *
 * Demo & Details: http://brajeshwar.github.com/grid/
 * Modified by: Dan Oliver Calpatura
 */
 
/* grids container - wrap your grids within */
.grids { display:block }
.grids:after{
	content:'.';
	visibility:hidden;
	display:block;
	clear:both;
}


/* grids */

.g1of2, .g1of3, .g1of4, .g1of5, .g1of6,
.g2of3, .g2of5, .g2of4, .g2of6,
.g3of4, .g3of5, .g3of6,
.g4of5, .g4of6,	
.g5of6{ float: left; }

.g1of2	{ width: 50%; }
.g1of3	{ width: 33.333333333%; }
.g1of4	{ width: 25%; }
.g1of5	{ width: 20%; }
.g1of6  { width: 16.666666666%; }

.g2of3	{ width: 66.666666666%; }
.g2of4	{ width: 50%; }
.g2of5	{ width: 40%; }
.g2of6  { width: 33.333333333%; }

.g3of4	{ width: 75%; }
.g3of5	{ width: 60%; }
.g3of6  { width: 50%;}

.g4of5	{ width: 80%; }
.g4of6  { width: 66.666666666%; }

.g5of6  { width: 83.333333333%;}

#adminWindowBox{
	position:fixed;
	width:520px;
	height:auto;
	background:#FFF;
	-webkit-box-shadow: rgba(0,0,0,.40) 0px 1px 5px;
		-moz-box-shadow: rgba(0,0,0,.40) 0px 1px 5px;
		box-shadow: rgba(0,0,0,.40) 0px 1px 5px;
	z-index:5000;
	margin-left:-260px;
	left:30%;
	top:10%;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;	
}

#adminWindowTitleBar{
	background:#d84402 url(/fullpage/common/img/adminTitleBarBg.jpg) repeat-x;
	color:#FFF;
	padding:10px;
	cursor:move;
	border-bottom:#b93900 1px solid;
	-webkit-border-top-right-radius:inherit;
	-moz-border-top-right-radius:inherit;
	border-top-right-radius:inherit;
	-webkit-border-top-left-radius:inherit;
	-moz-border-top-left-radius:inherit;
	border-top-left-radius:inherit;
}
#adminWindowTitleBar .closeBtn{
	width:21px;
	height:21px;
	background:url(/fullpage/common/img/adminWindowClose.png) no-repeat top;
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
}
#adminWindowTitleBar .closeBtn:hover{
	background-position:bottom;
}
#adminWindowTitleBar .minBtn{
	width:21px;
	height:21px;
	background:url(/fullpage/common/img/adminWindowMin.png) no-repeat top left;
	position:absolute;
	right:30px;
	top:5px;
	cursor:pointer;
}
#adminWindowTitleBar .minBtn:hover{
	background-position:top right;
}
#adminWindowTitleBar .minBtn.maxBtn{
	background-position:bottom right;
}
#adminWindowTitleBar .minBtn.maxBtn:hover{
	background-position:bottom left;
}
#adminWindowMenuBar{
	background:#273847 url(/fullpage/common/img/adminMenuBarBg.jpg) repeat-x;
	padding:10px;
	border-top:#3d5365 1px solid;
}
#adminWindowMenuBar ul{
	list-style:none;
	margin:0;
	padding:0;
}
#adminWindowMenuBar ul li:first-child{
	border-left:none;
}
#adminWindowMenuBar ul li:last-child{
	border-right:none;
}
#adminWindowMenuBar ul li{
	display:inline;
	padding:0px 10px;
	border-right:1px solid #394b5a;
	border-left:1px solid #253441;	
	margin-left:-3px;
}
#adminWindowMenuBar ul li a{
	color:#6b7680;
}
#adminWindowMenuBar ul li a:hover{
	color:#CCC;
}
#adminWindowMenuBar ul li a.active{
	color:#FFF;
}
.pageContents{
	padding:20px 25px;
}
.pageTitle{
	padding:5px 0px 10px;
	font-size:14px;
	font-weight:bold;
	color:#de4c09;
}
#adminWindowBox h2{
	font-weight:bold;
}
#notification{
	position: fixed;
	bottom: 0;
	z-index: 100000;
	margin: 0 -420px 0 0;
	right: 50%;
	border-bottom: none;
	opacity:0;
	}
#notification-design{
	position: relative;
	border: 1px solid #e09107;
	border-right: 1px solid #e09107;
	border-bottom: 1px solid #e09107;
	background: #f5b902 url(/fullpage/common/img/loader.gif) no-repeat 8px center;
	-webkit-box-shadow: rgba(0,0,0,.40) 0px 1px 5px;
	-moz-box-shadow: rgba(0,0,0,.40) 0px 1px 5px;
	box-shadow: rgba(0,0,0,.40) 0px 1px 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	border-image: initial;
}
#notification-message{
	text-align: left;
	padding: 0 15px 0 35px;
	line-height: 32px;
	color: #FFC;
	text-shadow:#e09107 0px 1px;
	font-weight:bold;
}
#adminWindowPages{
	width:520px;
}
.adminPage{
	width:520px;
}
#bgDragBox{
	background:#f4f4f4;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-top:12px;
	height:135px;
	width:100%;
	text-align:center;
}
#bgDragBox #dragBoxText{
	font-size:14px;
	display:block;
	padding-top:30px;color:#465868;
}
#bgDragBox #dragBoxText span{
	display:block;
}
#bgDragBox #dragBoxText strong{
	font-weight:bold;
}
#bgDragBox #dragBoxText span.uploadBtn{
	display:inline-block;
	background:url(/fullpage/common/img/adminUploadBtn.png) no-repeat top;
	width:214px;
	height:47px;
	margin-top:5px;
	cursor:pointer;
}
#bgDragBox #dragBoxText span.uploadBtn:hover{
	background-position:center;
}
#bgDragBox #dragBoxText span.uploadBtn:active{
	background-position:bottom;
}
.backgroundChooser{
	border:4px solid #cecece;
	width:67px;
	height:42px;
	cursor:pointer;
}
.backgroundChooser:hover{
	border-color:#09C;
}
#backgroundOptions{
	margin-top:10px;
}
.optionList{
	padding:10px 5px 10px 0px;
}
.optionList .label{
	float:left;
	width:80px;
}
.optionList strong{
	font-weight:bold;
}
.optionList .input{
	margin-left:100px;
	margin-top:-5px;
}
.optionList p.companyDescription{
	color:#465868;
	font-size:14px;
	line-height:19px;
}
.selectionBtn{
	background:#069 url(/fullpage/common/img/fadedBtn.png) repeat-x top;
	color:#FFF;
	margin:0px;
	padding:5px 10px;
	margin-left:-3px;
	font-size:11px;
}
.selectionBtn.active,.selectionBtn.active:hover{
	background-color:#153f54;	
	color:#FFF;
}
.selectionBtn:hover{
	background-color:#2ba6e2;
	color:#FFF;
}
.minicolors-swatch{
	width:53px;
	height:42px;
}


ul.patternList li{
	display:inline;
}
ul.patternList li div{
	border:4px solid #cecece;
	width:67px;
	height:42px;
	cursor:pointer;
	display:inline-block;
}
ul.patternList li div:hover{
	border-color:#09C;
}
ul.patternList li div.active{
	border-color:#099;
}
#adminWindowBox select{
	font-size:11px;
	padding:2px 4px;
}
#adminWindowBox input[type=text]{
	font-size:11px;
	padding:6px 6px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;		
	border:1px solid #999;
	margin:0px;
	background:#f4f4f4;
	color:#AAA;
	border:#e7e7e7 1px solid;
	width:300px;
}
#upload-status-area{
	margin:5px;
}
.upload-preview{
	display:none;
}
.progress-container{ width: 100px; }
.progress-shade{ width: 0%; height: 15px; background:url(/fullpage/common/img/load-bg.jpg) repeat-x;}

#changeCoverButton{
	position:absolute;
	background:#FFF;
	border:1px solid #CCC;
	right:10px;
	top:10px;
	z-index:1;
	padding:2px 4px;
	font-size:10px;
	cursor:pointer;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
}
#changeCoverButtonText{
	cursor:pointer;
}
#changeCoverButton:active{
	background:#EEE;
}
#saveCoverButton{
	position:absolute;
	background:#FFF;
	border:1px solid #CCC;
	right:10px;
	top:10px;
	z-index:1;
	padding:2px 4px;
	font-size:10px;
	cursor:pointer;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	display:none;
}
#saveCoverButton:active{
	background:#EEE;
}
#dragPhoto{
	background: url(/fullpage/common/img/drag-bg.png);
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	position:absolute;
	font-weight:bold;
	color:#FFF;
	z-index:1000;
	top:10px;
	left:10px;
	padding:2px 6px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	display:none;
}
#changeCoverButton input {
	cursor:pointer;background:#000;position:absolute;top:0px;margin:0px;opacity:0;filter: alpha(opacity=0);transform: translate(-300px, 0) scale(4);
	direction:rtl;width:88px;
	height:17px;
	font-size:17px;
}
.light-text{
	display:block;
	font-size:12px;
	font-weight:normal;
	color:#727272;
	margin-top:3px;
}
.display-option-box{
	font-size:11px;
	margin-top:-5px;
	color:#3b3b3b;
}
.display-option-box p{
	padding:2px 0px 2px;
	line-height:0px;
	overflow:hidden;
}
.display-option-box p span.label{
	margin-top:7px;
	margin-left:5px;
	float:left;
}
.display-option-box h2{
	padding:10px 0px;
	font-size:12px;
	color:#000;
}
.display-option-box p span.tickerbox{
	width:14px;
	height:14px;
	background:url(/fullpage/common/img/tickerbox.jpg) no-repeat;
	background-position:bottom;	
	float:left;
	padding-top:0px;
	margin-left:0px;
	cursor:pointer;
}
.display-option-box p span.tickerbox.off{
	background-position:top;	
}
#mainWrapper{
	top:40px;
}
/* NEW! Added scrollbar */
/* scroll styles */

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 100%;
	background:url(/fullpage/admin/img/scrollTrack.png) center repeat-y;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	
	position: relative;
}

.jspDrag
{
	background:url(/fullpage/admin/img/scrollDrag-bg.png) repeat;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
/* end of scrollbar */
.layout-list{
	list-style:none;
	margin-bottom:10px;
}
.layout-list li{
	padding:10px 4px;
	text-align:center;
	display:inline;
	float:left;
	width:145px;
	cursor:pointer;
}
.layout-list li h3{
	font-weight:bold;
	margin-bottom:6px;
	color:#3e3e3e;
}
.layout-list li:hover,.layout-list li.selected{
	background:#f4f9fa
}
.layout-list li:hover h3,.layout-list li.selected h3{
	color:#fe5100
}
.layout-list .layout-thumb{
	height:137px;
}
/* quick inbox widget styles */
#quickInboxWidget{
	width:100%;
	max-height:400px;
}
#quickInboxWidget .widget-item{
	min-height:48px;
	margin-top:15px;
	border-bottom:1px solid #EEE;
	padding-bottom:15px;
}
#quickInboxWidget .widget-item:last-child{
	padding-bottom:0px;
	border-bottom:none;
}
#quickInboxWidget .widget-item:first-child{
	margin-top:0px;
}
.widget-list{
	max-height:400px;
	outline:none;
}
.widget-item .widget-avatar{
	width:48px;
	height:48px;
	float:left;
}
.widget-item .widget-content{
	width:248px;
	float:left;
	margin:0px 10px;
	font-size:11px;
}
.widget-item .widget-content .widget-submitter{
	margin-bottom:5px;
}
.widget-item .widget-content .widget-submitter .name{
	font-weight:bold;
	color:#717171;
}
.widget-item .widget-content .widget-submitter .social-src{
	font-size:10px;
	color:#567aa7;
}
.widget-item .widget-content .widget-text{
	color:#707070;
	line-height:14px;
}
.widget-item .widget-content .widget-text p{
	margin-bottom:5px;
}
.widget-item .widget-actions{
	width:140px;
	float:left;
}
.widget-icon{
	margin: 0px 0px;
	padding: 0px;
	width: 20px;
	height: 17px;
	border: none;
	background: url(/fullpage/admin/img/ico-sprite-options.png) no-repeat;
	cursor: pointer
}
.widget-icon.check      {background-position: 0px 0px;}/* this input button uses css sprites. change background position to change the images. */
.widget-icon.save       {background-position: -20px 0px;}
.widget-icon.reply      {background-position: -40px 0px;}
.widget-icon.feature    {background-position: -60px 0px;}
.widget-icon.contact    {background-position: -80px 0px;}
.widget-icon.flag		{background-position: -100px -34px;float:none;}
.widget-icon.delete{background-position: -120px -34px;}
.widget-icon.check:hover{background-position: 0px -17px;}
.widget-icon.save:hover	{background-position: -20px -17px;}
.widget-icon.reply:hover	{background-position: -40px -17px;}
.widget-icon.feature:hover{background-position: -60px -17px;}
.widget-icon.contact:hover{background-position: -80px -17px;}
.widget-icon.flag:hover		{background-position: -100px -17px;}
.widget-icon.delete:hover{background-position: -120px 0px;}
.widget-icon.check-active  {background-position: 0px -34px;}
.widget-icon.save-active   {background-position: -20px -34px;}
.widget-icon.reply-active  {background-position: -40px -34px;}
.widget-icon.feature-active{background-position: -60px -34px;}
.widget-icon.contact-active{background-position: -80px -34px;}
.widget-icon.flag-active{background-position: -100px 0px;}

.widget-date{
	font-size:10px;
	margin-top:10px;
}
.widget-date .the-delete{
	position:absolute;
	top:0px;
	right:4px;
}

.widget-content .additional-info{
	background:#f7f7f7;
	border:1px solid #dde7ef;
	padding:15px;
	margin-top:10px;
	font-size:10px;
}
.widget-content .custom-meta-list{
	margin-bottom:10px;
}
.widget-content .custom-meta{
	float:left;
}
.widget-content .custom-meta-name{
	font-weight:bold;
	font-size:10px;
	color:#6499cd;
	float:left;
	margin-right:10px;
}
.custom-meta-name span.value{
	color:#a2a2a2;
	font-weight:normal;
}
.widget-content .uploaded-images-and-links .image-block{
	width:54px;
	margin-right:0px;
	float:left;
	height:48px;
	overflow:hidden;
}
.widget-content .video-circle{
	background:url(/fullpage/admin/img/video-play-circle.png) no-repeat;
	width:25px;
	height:25px;
	position:absolute;
	z-index:100;
	top:50%;
	margin-top:-12px;
	left:50%;
	margin-left:-12px;
	cursor:pointer;
}
.widget-content .video-circle-ajs{
	background:url(/fullpage/admin/img/video-play-circle.png) no-repeat;
	width:25px;
	height:25px;
	position:absolute;
	z-index:100;
	top:50%;
	margin-top:-12px;
	left:50%;
	margin-left:-12px;
	cursor:pointer;
}
.widget-content .delete-block{
	position:absolute;
	top:0px;
	right:3px;
	z-index:100;
	background:#000;
	color:#FFF;
	cursor:pointer;
	margin:0px;
	padding:0px 2px;
}
.widget-content .delete-block:hover{
	background:#036;
}
.widget-content .the-thumb{
	cursor:pointer;
}
.uploaded-images-popup{
	margin:5px;
}
.uploaded-images-name{
	color:#FFF;
	text-shadow:#000 0px 1px;
	position:absolute;
	bottom:5px;
	padding:10px 10px;
	background: url(/fullpage/admin/img/faded-bg-2.png) repeat;
	display:block;
	right:5px;
	left:5px;
}
.uploaded-images-view{
	text-align:center;
	background:#FFF;
}
.uploaded-images-close{
	background:url(/fullpage/admin/img/uploaded-images-close.png) no-repeat;
	width:45px;
	height:45px;
	position:absolute;
	z-index:100001;
	right:-15px;top:-15px;
	cursor:pointer;
}
/* display window additional elements */
#adminDisplayOptionGeneralItems{
 position:absolute;
 right:0px;
}
#adminDisplayOptionGeneralItems .display-stars{
 position:absolute;
 top:31px;
 right:0px;
}
#adminDisplayOptionGeneralItems .display-useful-count{
 position:absolute;
 top:54px;
 right:0px;
 width:300px;
 text-align:right;
}
#adminDisplayOptionGeneralItems .display-recommendation{
 position:absolute;
 width:300px;
 text-align:right;
 top:67px;
 right:0px;
}
#adminDisplayOptionGeneralItems .display-recommendation .feedback-recommendation{
 float:right;
}
#adminDisplayOptionGeneralItems .display-stars .stars{
 float:right;
}
#adminDisplayOptionGeneralItems .display-useful-count .rating-stat{
 position:relative;
 text-align:right;
 top:auto;
 right:auto;
}
#adminDisplayOptionAuthorItems{
 position:absolute;
 top:340px;
 right:0px;
 width:240px;
 padding:6px;
 background:#f0f0f0;
 -webkit-border-radius:3px;
 -moz-border-radius:3px;
 border-radius:3px;  
 border:1px solid #bad3eb;
 box-shadow:#CCC 0px 2px 2px;
}
#adminDisplayOptionAuthorItems .display-author .author-avatar{
 float:left;
 margin-right:10px;
}
#adminDisplayOptionAuthorItems .display-author .author-information{
 float:left
}
#adminDisplayOptionAuthorItems .display-author .author-information .author-name{
 color: #3a99bc;
 font-size: 18px;
 font-weight: bold;
 margin-bottom: 3px;
}
#adminDisplayOptionAuthorItems .display-author .author-information .author-company{
 font-weight: bold;
 color: #838383;
 margin-bottom: 4px;
}
#adminDisplayOptionAuthorItems .display-author .author-information .author-location-info{
 color: #a2a2a2;
 margin-bottom: 3px;
}
#adminDisplayOptionAuthorItems .display-author .author-information .author-location{
    float: left;
}

.small-button{
    margin: 0px 0px;
    padding: 2px 14px 2px 14px;
    border: none;
    cursor: pointer;
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;  
    color:#333;
}

.small-button.publish{
    background:#45b398;
    color:#0f4c3d;
    text-shadow:#58c8ac 0px 1px;
}
.small-button.publish:hover{
     background:#58c8ac;
}
.small-button.feature{
    background:#ffe076;
    color:#786938;
    text-shadow:#ffeaa2 0px 1px;
}
.small-button.feature:hover{
     background:#ffeaa2;
}
.widget-undo {
    padding-top: 20px;
    text-align: center;
	display: none;
    cursor: pointer; 
}
