@charset "utf-8";
/* CSS Document */

body{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
div{
	display:block;
	padding:0px;
	margin:0px;	
	position:relative;	
	outline:none;
}

a{text-decoration:none;}

p{margin:0;padding:0;}

/* simples texts*/
.large{font-weight:bold;font-size:12px;margin-bottom:1px;color: #5F5F61;}
.normal{font-weight:normal;font-size:11px;margin-bottom:1px;color: #72777A;}
.small{font-weight:normal;font-size:10px;margin-bottom:1px;color: #969696;}
/* floats */
.left{float:left;}
.center{margin:0 auto;}
.right{float:right;}
/* text aligns */
.align-right{text-align:right;}
.align-center{text-align:right;}
.align-left{text-align:right;}

/* scrollpane styles */

/* scroll styles */

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 100%;
	background:url(/img/scrollTrack.png) center repeat-y;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	
	position: relative;
}

.jspDrag
{
	background:url(/img/scrollDrag-bg.png) repeat;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
