/* rating page */
#rate_e,#rate_g,#rate_a,#rate_p,#rate_b{float:left;height:33px;position:relative;cursor:pointer;}
#track_ball{width:30px;height:33px;position:absolute;background:url(../../img/trackball.png) no-repeat;left:-1px;}
#rate_e,#rate_b{width:48px;}
#rate_g,#rate_a,#rate_p{width:97px;}

#s36_ratings{color:#adafb0;font-size:12px;font-weight:bold;}
#s36_ratings ul{margin:0px;padding:0px;position:relative;height:25px;}

#s36_ratings ul li	   	  {list-style:none;display:inline;margin:0px;padding:0px;position:absolute;top:0px;}
/*
#s36_ratings ul li.good	  {left:97px;}
#s36_ratings ul li.average{left:180px;}
#s36_ratings ul li.poor	  {left:276px;}
#s36_ratings ul li.bad	  {left:365px;}
*/

#s36_ratings ul li.poor	  {left:97px;}
#s36_ratings ul li.average{left:180px;}
#s36_ratings ul li.good	  {left:276px;}
#s36_ratings ul li.excellent {left:338px;}

/* permission page */
#s36_permissions{background:#900;}
.s36_block{margin:15px 0px;}
.s36_perm_radio{
	float:left;	
	width:37px;
	text-align:center;
	padding-top:30px;
}
.s36_perm_details{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background:#f4f4f4;
	width:350px;height:75px;
	float:left;
	overflow:hidden;cursor:pointer;
}
.s36_perm_details .s36_perm_icon{
	width:80px;float:left;
	background:#ececec;height:75px;
}
.s36_perm_details .s36_perm_icon1,
.s36_perm_details .s36_perm_icon2,
.s36_perm_details .s36_perm_icon3{
    width:40px;height:38px;margin:0 auto;margin-top:20px;
    background:url(../../img/ico-perms.png) no-repeat;
    background-position:0px 0px;
}
.s36_perm_details .s36_perm_icon2{
    background-position:-40px 0px;
}
.s36_perm_details .s36_perm_icon3{
    background-position:-80px 0px;
}
.s36_perm_text{
    padding:10px;
    float:left;
    width:250px;
}
.s36_perm_text p, .s36_perm_text h3{padding:0px;margin:0px;}
.s36_perm_text p{font-size:11px;color:#7d8082;margin-top:4px;}
/* form styles */
.regular-textarea{
	background:#f7f7f7;
	border:1px solid #e1e1e1;
	padding:10px;
	width:360px;
	height:210px;
	font-family:Arial, Helvetica, sans-serif;
}

.s36_perm_details:after,.s36_block:after,.review-profile:after{
 content: ".";  
 display: block; 
 height: 0; 
 clear: both;
 visibility: hidden; 
}

/* connect page */
.s36_block .company{background:url(../../img/s36-logo.png);background-repeat:no-repeat;background-position:center left;padding:15px 15px 15px 160px;font-size:11px;}
.s36_block .warning{background:#d1d4d4;width:82px;float:left;text-align:center;padding:13px 0px;}
.s36_block .warning-text{width:270px;float:left;padding:10px 15px;font-size:11px;line-height:18px;}
.gray{
	background:#f0f0f0;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	overflow:hidden;
}
/* miscs */
.s36_align_center{text-align:center;}
.s36_align_right{text-align:right;}
.s36_blue_btn{
	background:#84b1ce;
	padding:4px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;	
}
.s36_blue_btn:hover{
	background:#97c2de;
}
.current{display:block;}


/* form page */
#s36_form{margin-top:2px;}
table tr td{margin-top:3px;}
div.avatar{width:90px;float:left;padding:10px;}
div.avatartext{width:240px;float:left;padding:10px;}
/* form styles */
input.regular-text{height:22px;border:1px solid #c5c9cb;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;overflow:hidden;font-weight:bold;display:block;width:170px;padding:4px;font-family:Arial, Helvetica, sans-serif;color:#666;box-shadow:#f0f0f0 0px 0px 0px 3px;}
input.long{width:361px;}
input.reg-text-active{color:#999;font-weight:normal;}
select.regular-select{height:30px;border:1px solid #c5c9cb;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;overflow:hidden;font-weight:bold;display:block;width:180px;padding:4px;font-family:Arial, Helvetica, sans-serif;color:#666;-webkit-box-shadow:#f0f0f0 0px 0px 0px 3px;box-shadow:#f0f0f0 0px 0px 0px 3px;}
select.regular-select option{width:120px;}
select.reg-text-active{color:#AAA;font-weight:normal;}
select:focus{border:1px solid #b1d1e4;outline:#b1d1e4;-webkit-box-shadow:#daecf8 0px 0px 0px 3px;box-shadow:#daecf8 0px 0px 0px 3px;}
input:focus{border:1px solid #b1d1e4;outline:#b1d1e4;box-shadow:#daecf8 0px 0px 0px 3px;}

/* review page */

/* review page slide */
.review-profile{margin-top:5px;}
.review-avatar{width:110px;padding:5px 0px !important;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#e6e8e8;float:left;}
.review-profile-info{float:left;padding-top:15px;margin-left:15px;width:250px;}
.review-profile-info h1,.review-profile-info h2,.review-profile-info h3,.review-profile-info h4,.review-profile-info h5,.review-profile-info h6,
.review-profile-info p{overflow:hidden;margin:0px;padding:1px 0px;}
.review-feedback-box{display:block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:15px;background:#f7f7f7;position:relative;width:365px;float:left;min-height:150px;border:1px solid #e1e1e1;font-size:12px;}
.review-feedback{font-size:12px;display:block;overflow:hidden;max-height:200px;}
.review-change-photo{margin-left:8px;margin-bottom:10px;font-size:11px;float:left;position:relative;text-decoration:underline;display:block;width:100%;}
.review-edit-feedback{margin-top:10px;}
.review-edit-feedback a{color:#afb1b2;text-decoration:underline;}
.review-location{float:left;}
.review-feedback-box .regular-textarea{background:#FFF;width:340px;}
#edit-review-feedback,#save-edited-feedback{position:absolute;}
/* jcrop css */
#crop_status{padding-left:5px;}

.jcrop_div{margin:0 auto;position:relative;margin-bottom:10px;}
.jcrop_div input{display:none !important;}
/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0px;
	position: absolute;
	background: white url('../../img/Jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-vline.right { right: 0px; }
.jcrop-hline.bottom { bottom: 0px; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.full .s36_perm_details{background:#daeec9;padding-top:30px;padding-bottom:30px;}
.full .s36_perm_icon{background:#daeec9;}
.full .s36_perm_radio{padding-top:58px;}
.limited .s36_perm_details{background:#faf1d4;}
.limited .s36_perm_icon{background:#faf1d4;}
