@charset "utf-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;font-size:12px;
	margin:0;padding:0;widht:100%;height:100%;
}
a{color:#5c8ac0;}
a:hover{color:#6896cb;}
#s36_main{
	width:447px;
	height:590px;
	position:absolute;
}
#s36_whitebar{
	height:15px;
	width:447px;
}
#s36_pages,#s36_steps{
	width:447px;
	height:465px;
}
.error-message{
	padding:10px 30px;
	text-align:center;
	font-weight:bold;
	position:relative;
	z-index:100;
}
#s36_footer{
	display:block;
	height:45px;
	width:387px;
	padding:10px 30px;
	bottom:0px;
	position:absolute;
	z-index:100;
}
	#s36_footer .s36_footerbtn{
		width:80px;
		float:left;
		position:relative;
		text-align:center;
		padding:10px 0px;
	}
	#s36_footer .s36_footertext{
		width:227px;
		float:left;
		position:relative;
		text-align:center;
		padding-top:15px;
		font-size:10px;
		font-weight:normal;
	}

/* classes */	
a.s36_btn{
	padding:7px 22px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	text-decoration:none;
}
a.s36_btn:hover{
}
/* crop button */
a.cropbtn{
	text-shadow:none;
}
a.cropbtn:hover{
	text-shadow:none;
}
/* crop button */
/* pages class */
.s36_pages{
	position:absolute;
	width:447px;
	height:465px;
}
	.s36_pages h1{margin:0px;padding:14px 30px;font-size:22px;}
	.s36_pages h3{font-size:15px;margin:0px;padding:5px 0px;}
	.s36_pages h3 a.s36_tip{font-size:11px;text-decoration:none;padding-left:4px;font-weight:normal;}
	.s36_pages h3 a.s36_tip:hover{text-decoration:underline;}
	.s36_pages h4{font-size:11px;margin:0px;padding:5px 0px;}
	.s36_pages .step-contents{
		padding:5px 30px;display:block;
	}
	
	#s36_whattowrite{
		padding-left:36px;
	}
	#s36_whattowrite ul{margin:0px;list-style:none;padding:0px;font-size:11px;}
/* trackbar styles */
#s36_trackbar{
	width:388px;
	height:36px;
	position:relative;
}

/* rating page */
#rate_e,#rate_g,#rate_a,#rate_p,#rate_b{float:left;height:33px;position:relative;cursor:pointer;}
#track_ball{width:30px;height:33px;position:absolute;background:url(../../img/trackball.png) no-repeat;left:189px;}
#rate_e,#rate_b{width:48px;}
#rate_g,#rate_a,#rate_p{width:97px;}

#s36_ratings{font-size:12px;font-weight:bold;}
#s36_ratings ul{margin:0px;padding:0px;position:relative;height:25px;}
#s36_ratings ul li	   	  {list-style:none;display:inline;margin:0px;padding:0px;position:absolute;top:0px;}
/*
#s36_ratings ul li.good	  {left:97px;}
#s36_ratings ul li.average{left:180px;}
#s36_ratings ul li.poor	  {left:276px;}
#s36_ratings ul li.bad	  {left:365px;}
*/
#s36_ratings ul li.poor	  {left:97px;}
#s36_ratings ul li.average{left:180px;}
#s36_ratings ul li.good	  {left:276px;}
#s36_ratings ul li.excellent {left:338px;}

/* permission page */
#s36_permissions{}
.s36_block{margin:15px 0px;}
.s36_perm_radio{
	float:left;	
	width:37px;
	text-align:center;
	padding-top:30px;
    display:none;
}
.s36_perm_details{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	width:380px;height:75px;
	float:left;
	overflow:hidden;cursor:pointer;
}
.s36_perm_details .s36_perm_icon{
	width:80px;float:left;
	height:75px;
}


.full .s36_perm_details{background:#daeec9;border:3px solid #daeec9;}
.full .s36_perm_icon{background:#daeec9;}
.limited .s36_perm_details{background:#faf1d4;border:3px solid #faf1d4;}
.limited .s36_perm_icon{background:#faf1d4;}
.private .s36_perm_details{background:#F4F4F4;border:3px solid #F4F4F4;}
.private .s36_perm_icon{background:#F4F4F4;}

.full .active_perm{border:3px solid #4d9a12;}
.limited .active_perm{border:3px solid #e3b013;}
.private .active_perm{border:3px solid #8a979b;}


.full .s36_perm_details{padding-top:30px;padding-bottom:30px;}
.full .s36_perm_radio{padding-top:58px;}

	.s36_perm_details .s36_perm_icon1,
	.s36_perm_details .s36_perm_icon2,
	.s36_perm_details .s36_perm_icon3{
		width:40px;height:38px;margin:0 auto;margin-top:20px;
        background:url(../../img/ico-perms.png) no-repeat;
		background-position:0px 0px;
	}
	.s36_perm_details .s36_perm_icon2{
		background-position:-40px 0px;
	}
	.s36_perm_details .s36_perm_icon3{
		background-position:-80px 0px;
	}
	.s36_perm_text{
		padding:10px;
		float:left;
		width:250px;
	}
	.s36_perm_text p, .s36_perm_text h3{padding:0px;margin:0px;}
	.s36_perm_text p{font-size:11px;margin-top:4px;}
/* form styles */
.regular-textarea{
	padding:10px;
	width:360px;
	height:210px;
	font-family:Arial, Helvetica, sans-serif;
}

.s36_perm_details:after,.s36_block:after,.review-profile:after{
 content: ".";  
 display: block; 
 height: 0; 
 clear: both;
 visibility: hidden; 
}

.full .s36_perm_details{background:#daeec9;padding-top:30px;padding-bottom:30px;}
.full .s36_perm_icon{background:#daeec9;}
.full .s36_perm_radio{padding-top:58px;}
.limited .s36_perm_details{background:#faf1d4;}
.limited .s36_perm_icon{background:#faf1d4;}
.private .s36_perm_details{background:#f4f4f4;}
.private .s36_perm_icon{background:#f4f4f4;}

/* connect page */
.s36_block .company{background:url(../../img/s36-logo.png);background-repeat:no-repeat;background-position:center left;padding:15px 15px 15px 160px;font-size:11px;}
.s36_block .warning{width:82px;float:left;text-align:center;padding:13px 0px;}
.s36_block .warning-text{width:270px;float:left;padding:10px 15px;font-size:11px;line-height:18px;}
.gray{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	overflow:hidden;
}
/* miscs */
.s36_align_center{text-align:center;}
.s36_align_right{text-align:right;}
.s36_blue_btn{
	padding:4px;
	font-weight:bold;
	text-decoration:none;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;	
}
.s36_blue_btn:hover{
}
.current{display:block;}


/* form page */
#s36_form{margin-top:20px;}
table tr td{margin-top:3px;}
div.avatar{width:90px;float:left;padding:10px;}
div.avatartext{width:240px;float:left;padding:10px;}
/* form styles */
input.regular-text{height:22px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;overflow:hidden;font-weight:bold;display:block;width:170px;padding:4px;font-family:Arial, Helvetica, sans-serif;}
input.long{width:361px;}
input.reg-text-active{font-weight:normal;}
select.regular-select{height:30px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;overflow:hidden;font-weight:bold;display:block;width:180px;padding:4px;font-family:Arial, Helvetica, sans-serif;}
select.regular-select option{width:120px;}
select.reg-text-active{font-weight:normal;}
/* review page slide */
.review-profile{margin-top:5px;}
.review-avatar{width:110px;padding:5px 0px !important;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;float:left;}
.review-profile-info{float:left;padding-top:15px;margin-left:15px;width:250px;}
.review-profile-info h1,.review-profile-info h2,.review-profile-info h3,.review-profile-info h4,.review-profile-info h5,.review-profile-info h6,
.review-profile-info p{overflow:hidden;margin:0px;padding:1px 0px;}
.review-feedback-box{display:block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:15px;position:relative;width:365px;float:left;min-height:150px;font-size:12px;}
.review-feedback{font-size:12px;display:block;overflow:hidden;max-height:200px;}
.review-change-photo{margin-left:8px;margin-bottom:10px;font-size:11px;float:left;position:relative;text-decoration:underline;display:block;width:100%;}
.review-edit-feedback{margin-top:10px;}
.review-edit-feedback a{text-decoration:underline;}
.review-location{float:left;}
.review-feedback-box .regular-textarea{width:340px;}
#edit-review-feedback,#save-edited-feedback{position:absolute;}

/* jcrop css */
#crop_status{padding-left:5px;}
.jcrop_div{margin:0 auto;position:relative;margin-bottom:10px;}
.jcrop_div input{display:none !important;}
/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0px;
	position: absolute;
	background: white url('../../img/Jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-vline.right { right: 0px; }
.jcrop-hline.bottom { bottom: 0px; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* added */
#step_2,#step_3,#step_4,#step_5,#step_6,#step_7{display:none}

/* added 6/20/2012 */
.tr-photo-upload{background:#e6e8e8;}

div.feedback {
    padding-top:25px;  
}

.all-done-feedback-box{
    margin:15px 0px;
    padding:10px;
    overflow-y:auto;
    background:#f7f7f7;
    border:1px solid #e1e1e1;
    color:#595959;
    height:140px;
    line-height:18px;
}
.all-done-feedback-box p{margin:0px;line-height:18px;}

.share-buttons .fb-share-button{width:190px;float:left;margin-right:10px;}
.share-buttons .tw-share-button{float:left;width:78px;}
#fb-share-post-success{margin-top:10px;display:none;}
.share-success{color:#9c9b9b;background:url(../../img/ico-check.png) no-repeat left center;padding-left:35px;margin-left:-16px}
.fb-like-link{margin-top:5px;}
.tw-follow-link{margin-top:5px;
