@charset "utf-8";
/* CSS Document */

body{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	/* background:url(../../img/background.jpg); */
	background:#FFF;
}
a{color:#4894b3;text-decoration:none;}
a:hover{color:#54a1c0;}


#headerWrapper{
	background:url(../../img/gray-bg.jpg) repeat-x;
	height:42px;
	width:100%;
	border-top:#DDD 1px solid;
}

#headerContent{
	margin:0 auto;
	width:780px;
	padding:8px 0px;
}
#headerTitle{
	font-size:19px;
	color:#aaa;
	text-shadow:#EEE 0px 1px;
}
#headerTitle strong{color:#5d96d5;}
#headerTitle span {padding-left:20px;text-shadow:#EEE 0px 1px;}
#headerTitle span a{color:#000;font-size:14px;font-weight:bold;}
#headerTitle a:hover{color:#666;}
.padfix{padding-top:5px;}
.padfix a{font-weight:normal !important;font-size:12px !important; }
#bodyWrapper{
	width:100%;
}

#bodyContent{
	margin:0 auto;
	width:800px;
	padding-top:40px;
}

#feedbackBox{
	background:#FFF;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #FAFAFA;
	border-bottom:1px solid #CCC;
	height:490px;
	position:relative;
}

.block{display:block;width:100%;}
.gray-text{color:#a0a0a0}

.formTitle{background:#FFF;padding:20px 30px;border-bottom:1px solid #e4e4e4;-webkit-border-radius:8px;-moz-border-radius:inherit;border-radius:inherit;}
.formTitle h2{color:#bbbdbf;text-shadow:#FFF 0px 1px;font-size:22px;padding:0px;margin:0px;}


#s36_pages,#s36_steps{
	width:798px;
	height:387px;
}
.error-message{
	padding:10px 30px;
	text-align:center;
	font-weight:bold;
	position:relative;
	z-index:100;
}
#s36_footer{
	display:block;
	height:40px;
	width:738px;
	padding:10px 30px;
	bottom:0px;
	position:absolute;
	z-index:100;
}
	#s36_footer .s36_footerbtn{
		width:30%;
		position:relative;
		text-align:center;
		padding:10px 0px;
	}
	#s36_footer .s36_footertext{
		width:227px;
		float:left;
		position:relative;
		text-align:center;
		padding-top:15px;
		font-size:10px;
		font-weight:normal;
	}

/* classes */	
a.s36_btn{
	padding:7px 22px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	text-decoration:none;
}
a.s36_btn:hover{
}
/* crop button */
a.cropbtn{
	text-shadow:none;
}
a.cropbtn:hover{
	text-shadow:none;
}
/* crop button */
/* pages class */
.s36_pages{
	position:absolute;
	width:798px;
	height:387px;
}
	.s36_pages h1{margin:0px;padding:14px 30px;font-size:22px;}
	.s36_pages h3{font-size:15px;margin:0px;padding:5px 0px;}
	.s36_pages h3 a.s36_tip{font-size:11px;text-decoration:none;padding-left:4px;font-weight:normal;}
	.s36_pages h3 a.s36_tip:hover{text-decoration:underline;}
	.s36_pages h4{font-size:11px;margin:0px;padding:5px 0px;}
	.s36_pages .step-contents{
		padding:5px 30px;display:block;
	}
	
	#s36_whattowrite{
		padding-left:36px;
	}
	#s36_whattowrite ul{margin:0px;list-style:none;padding:0px;font-size:11px;}
/* trackbar styles */
#s36_trackbar{
	width:461px;
	height:36px;
	position:relative;
	margin-top:10px;
}

/* rating page */
#rate_e,#rate_g,#rate_a,#rate_p,#rate_b{float:left;height:33px;position:relative;cursor:pointer;}
#track_ball{width:30px;height:33px;position:absolute;left:223px;}
#rate_e,#rate_b{width:57px;}
#rate_g,#rate_a,#rate_p{width:115px;}

#s36_ratings{font-size:12px;font-weight:bold;}
#s36_ratings ul{margin:0px;padding:0px;position:relative;height:25px;}
#s36_ratings ul li	   	  {list-style:none;display:inline;margin:0px;padding:0px;position:absolute;top:0px;}
#s36_ratings ul li.good	  {left:114px;}
#s36_ratings ul li.average{left:211px;}
#s36_ratings ul li.poor	  {left:330px;}
#s36_ratings ul li.bad	  {left:437px;}

/* permission page */
#s36_permissions{}
.s36_block{margin:15px 0px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;}
.s36_perm_radio{
	float:left;	
	width:37px;
	text-align:center;
	padding-top:30px;
	display:none;
}
.s36_perm_details{
	display:block;
	float:left;height:200px;
	overflow:hidden;cursor:pointer;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	opacity:0.6;
}
.s36_perm_details .s36_perm_icon{
	width:80px;
	height:38px;
	margin:0 auto;
}
.full,.limited,.private{float:left;}
.full{width:260px;}
.limited,.private{width:210px;margin-left:13px;}
.full .s36_perm_details{}
.full .s36_perm_radio{padding-top:58px;}
	.s36_perm_details .s36_perm_icon1,
	.s36_perm_details .s36_perm_icon2,
	.s36_perm_details .s36_perm_icon3{
		width:40px;height:38px;margin:0 auto;margin-top:20px;
		background-position:0px 0px;
	}
	.s36_perm_details .s36_perm_icon2{
		background-position:-40px 0px;
	}
	.s36_perm_details .s36_perm_icon3{
		background-position:-80px 0px;
	}
	.s36_perm_text{
		padding:10px;
		text-align:center;
	}
	.s36_pages .s36_perm_text h3{font-size:19px;font-weight:normal;color:#333;}
	.s36_perm_text p, .s36_perm_text h3{padding:0px;margin:0px;}
	.s36_perm_text p{font-size:12px;margin-top:4px;}
/* form styles */
.regular-textarea{
	padding:10px;
	width:438px;
	height:160px;
	font-family:Arial, Helvetica, sans-serif;
}

.s36_perm_details:after,.s36_block:after,.review-profile:after,.step-contents:after,#s36_pemissions:after,.block:after{
 content: ".";  
 display: block; 
 height: 0; 
 clear: both;
 visibility: hidden; 
}

/* connect page */
.s36_block .company{background-repeat:no-repeat;background-position:center left;padding:15px 15px 15px 160px;font-size:11px;}
.s36_block .warning{width:82px;float:left;text-align:center;padding:13px 0px;-webkit-border-top-left-radius:inherit;-webkit-border-bottom-left-radius:inherit;}
.s36_block .warning-text{padding:20px 15px 10px;font-size:11px;line-height:18px;margin-left:92px;display:block;}
.gray{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	overflow:hidden;
}
/* miscs */
.s36_align_center{text-align:center;}
.s36_align_right{text-align:right;}
.s36_blue_btn{
	padding:4px;
	font-weight:bold;
	text-decoration:none;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;	
}
.s36_blue_btn:hover{
}
.current{display:block;}


/* form page */
#s36_form{margin-top:20px;}
table tr td{margin-top:3px;}
div.avatar{width:90px;float:left;padding:10px;}
div.avatartext{width:180px;float:left;padding-top:15px;}
/* form styles */
input.regular-text{height:22px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;overflow:hidden;font-weight:bold;display:block;width:170px;padding:4px;font-family:Arial, Helvetica, sans-serif;}
input.long{width:361px;}
input.reg-text-active{font-weight:normal;}
select.regular-select{height:30px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;overflow:hidden;font-weight:bold;display:block;width:180px;padding:4px;font-family:Arial, Helvetica, sans-serif;}
select.regular-select option{width:120px;}
select.reg-text-active{font-weight:normal;}
/* review page slide */
.review-profile{margin-top:5px;}
.review-avatar{width:110px;padding:5px 0px !important;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.review-profile-info{padding-top:5px;margin-left:5px;width:250px;}
.review-profile-info h1,.review-profile-info h2,.review-profile-info h3,.review-profile-info h4,.review-profile-info h5,.review-profile-info h6,
.review-profile-info p{overflow:hidden;margin:0px;padding:1px 0px;font-weight:normal;}
.review-feedback-box{display:block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:15px;position:relative;width:475px;float:left;min-height:150px;font-size:12px;}
.review-feedback{font-size:12px;display:block;overflow:hidden;max-height:200px;}
.review-change-photo{margin-left:8px;margin-bottom:10px;font-size:11px;float:left;position:relative;text-decoration:underline;display:block;width:100%;}
.review-edit-feedback{margin-top:10px;}
.review-edit-feedback a{text-decoration:underline;}
.review-location{float:left;}
#review-location{color:#5c8ba9;}
.review-feedback-box .regular-textarea{width:340px;}
#edit-review-feedback,#save-edited-feedback{position:absolute;}

/* jcrop css */
#crop_status{padding-left:5px;}
.jcrop_div{margin:0 auto;position:relative;margin-bottom:10px;}
.jcrop_div input{display:none !important;}
/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0px;
	position: absolute;
	background: white url('../../img/Jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-vline.right { right: 0px; }
.jcrop-hline.bottom { bottom: 0px; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* added */
#step_2,#step_3,#step_4,#step_5,#step_6,#step_7{display:none}
.left{float:left;text-align:left !important;}
.right{float:right;text-align:right !important;}


/* page style not the form style */
.companyLogo{float:left;width:252px;}
.companyDetails{margin-left:272px;display:block;color:#000;}
.companyDetails h2{font-weight:normal;font-size:22px;margin-left:2px;margin:10px 0px 6px;}
.companyDetails p{line-height:1.8em;font-size:14px;color:#000;margin-left:2px;}
.companyLinks{background:#FFF;padding:5px;border-bottom:1px solid #CCC;}
.companyLinks ul{list-style:none;margin:0px;padding:5px;}
.companyLinks ul li{display:inline;padding:5px 5px 5px 10px;}
.companyLinks ul li{border-right:1px solid #EEE;}
.companyLinks ul li:last-child{border:none;}
.companyLinks ul li a{padding:5px 2px 5px 24px;margin-right:10px;background:url(../../img/companyLinkIcons.png) no-repeat;}
.companyLinks ul li a.website{background-position:0px 1px;}
.companyLinks ul li a.facebook{background-position:0px -25px;}
.companyLinks ul li a.twitter{background-position:0px -50px;}

p:first-child{margin-top:0px;}