@charset "utf-8";
/* CSS Document */

body{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(../../img/background.jpg);
}
a{color:#4894b3;text-decoration:none;}
a:hover{color:#54a1c0;}
div{
	position:relative;
	display:block;
	padding:0px;
	margin:0px;
}

#headerWrapper{
	background:url(../../img/gray-bg.jpg) repeat-x;
	height:42px;
	width:100%;
}

.left{float:left;text-align:left !important;}
.right{float:right;text-align:right !important;}

#headerContent{
	margin:0 auto;
	width:900px;
	padding:8px 0px;
}
#headerTitle{
	font-size:19px;
	color:#aaa;
	text-shadow:#EEE 0px 1px;
}
.padfix{padding-top:5px;}
.padfix a{font-weight:normal !important;font-size:12px !important; }
.right{float:right}
#headerTitle strong{color:#5d96d5;}
#headerTitle span {padding-left:20px;text-shadow:#EEE 0px 1px;}
#headerTitle span a{color:#000;font-size:14px;font-weight:bold;}
#headerTitle a:hover{color:#666;}
#bodyWrapper{
	width:100%;
}

#bodyContent{
	margin:0 auto;
	width:900px;
	padding-top:40px;
}

#feedbackBox{
	padding:60px 65px;
	background:#FFF;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #FAFAFA;
	border-bottom:1px solid #CCC;
}

.block{display:block;width:100%;overflow:hidden;}
.gray-text{color:#a0a0a0}

.formTitle{background:#f9f9f9;padding:20px 30px;border-bottom:1px solid #e4e4e4;}
.formTitle h2{color:#bbbdbf;text-shadow:#FFF 0px 1px;font-size:22px;padding:0px;margin:0px;}

.theAvatar{
	/*border:1px solid #AAA;*/
	width:150px;
	float:left;
    text-align:center;
}
.theAuthor{
	width:600px;
	float:left;
	padding-left:16px;
	padding-top:30px;
}
.theAuthorName{font-size:30px;color:#1982ad;}
.theAuthorCompany{font-size:14px;font-weight:bold;color:#000;}
.theDate{color:#a0a0a0;font-size:12px;margin-top:3px;width:205px}
.theText{font-size:33px;font-family:Georgia, "Times New Roman", Times, serif;line-height:1.6em}

/* page style not the form style */
.companyLogo{float:left;width:252px;}
.companyDetails{float:left;width:618px;padding-left:30px;}
.companyDetails h2{font-family:Georgia, "Times New Roman", Times, serif;font-size:24px;font-weight:normal;margin-top:2px;}
.companyDetails p{line-height:1.6em;font-size:14px;}
.companyLinks{background:#FFF;padding:5px;border-bottom:1px solid #CCC;}
.companyLinks ul{list-style:none;margin:0px;padding:5px;}
.companyLinks ul li{display:inline;padding:5px 5px 5px 10px;}
.companyLinks ul li{border-right:1px solid #EEE;}
.companyLinks ul li:last-child{border:none;}
.companyLinks ul li a{padding:5px 2px 5px 24px;margin-right:10px;background:url(../../img/companyLinkIcons.png) no-repeat;}
.companyLinks ul li a.website{background-position:0px 1px;}
.companyLinks ul li a.facebook{background-position:0px -25px;}
.companyLinks ul li a.twitter{background-position:0px -50px;}

.feedbackSocial {float:left;}

a.green-cross {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

a.green-cross {
    background: url("../../img/green-cross.png") no-repeat scroll left center transparent;
    padding-left: 15px;
}
