@charset "utf-8";
/* CSS Document */

body{
	background:#FFF;
}
a{color:#4894b3;}
a:hover{color:#54a1c0;}

#headerWrapper{
	background:#161618;
	/* box-shadow:#CCC 0px 1px 5px; */
}

#headerTitle{
	color:#aaa;
}
#headerTitle strong a{color:#FFF;}
#headerTitle span {}
#headerTitle span a{color:#6b6b6b;}
#headerTitle a:hover{color:#777;}

/* page style not the form style */
.companyDetails{color:#000;}
.companyDetails h2{}
.companyDetails p{color:#000;}
.companyLinks{background:none;}
.companyLinks ul li{border-right:1px solid #EEE;}
.companyLinks ul li a{background:url(../../../img/companyLinkIcons.png) no-repeat;}


/* feedbacks */
.feedback{background:#FFF;box-shadow:none;}
.featured{background:#FFF;border:1px solid #82c8e1;}
.featured .feedbackAuthor img{border:1px solid #CCC;}
.featured .feedbackAuthor h2{color:#1982ad;}
.featured .feedbackAuthor h4{color:#2c2a2a;}
.featured .feedbackTextTail{background:url(images/contrast/featured-bubble-tail.png) no-repeat;}
.featured .feedbackTextBubble{background:#378eac;color:#FFF;}
.featured .feedbackDate{color:#666666;text-shadow:#FFF 0px 1px;}
/* normal */
.normal{background:#FFF;border:1px solid #c4c4c4}
.normal .feedbackAuthor h2{color:#1982ad;}
.normal .feedbackAuthor h4{color:#2c2a2a;}
.normal .feedbackText p{color:#FFF;}
.normal .feedbackTextTail{background:url(images/contrast/normal-bubble-tail.png) no-repeat;}
.normal .feedbackTextBubble{background:#504f54;color:#FFF;}
.normal .feedbackMeta{color:#CCC;}
.normal .feedbackDate{color:#999;}
