@charset "utf-8";
/* CSS Document */

body{
	background:#FFF;
}
a{color:#4894b3;}
a:hover{color:#54a1c0;}

#headerWrapper{
	padding-bottom:10px;
	background:#3fafd4 url(images/cloudy/bot-curve.jpg) repeat-x bottom;
}

#headerTitle{
	color:#FFF;
}
#headerTitle strong{color:#FFF;}
#headerTitle span {}
#headerTitle span a{color:#FFF;}
#headerTitle a:hover{color:#EEE;}

/* page style not the form style */
.companyDetails{color:#000;}
.companyDetails h2{}
.companyDetails p{color:#000;}
.companyLinks{background:#FFF;}
.companyLinks ul li{border-right:1px solid #EEE;}
.companyLinks ul li a{background:url(../../../img/companyLinkIcons.png) no-repeat;}


/* feedbacks */
.feedback{background:#FFF;border:1px solid #54c3e8;box-shadow:#DDD 0px 1px 3px;}
.featured{background:#3fafd4;border:1px solid #2995b8;}
.featured .feedbackAuthor h2{color:#FFF;}
.featured .feedbackAuthor h4{color:#2c2a2a;}
.featured .feedbackTextTail{background:url(../../../img/featured-bubble-tail.png) no-repeat;}
.featured .feedbackTextBubble{background:#FFF;}
.featured .feedbackDate{color:#FFF;}
/* normal */
.normal .feedbackAuthor h2{color:#1982ad;}
.normal .feedbackAuthor h4{color:#2c2a2a;}
.normal .feedbackText p{color:#595959;}
.normal .feedbackTextTail{background:url(../../../img/normal-bubble-tail.png) no-repeat;}
.normal .feedbackTextBubble{background:#efefef;}
.normal .feedbackMeta{color:#CCC;}
.normal .feedbackDate{color:#999;}
