@charset "utf-8";
/* CSS Document */

body{
	background:#FFF url(images/silver/silver-main-bg.png) repeat-x;color:#666;
}
a{color:#4894b3;}
a:hover{color:#54a1c0;}

#headerWrapper{
	background: url(images/silver/header-bg.png) repeat-x;
	border-top:1px solid #CCC;
	border-bottom:1px solid #AAA;
	box-shadow:#999 0px 0px 6px;
}

#headerTitle{
	color:#aaa;
}
#headerTitle strong{color:#333;}
#headerTitle span {}
#headerTitle span a{color:#666;}
#headerTitle a:hover{color:#999;}

/* page style not the form style */
.companyDetails{color:#000;}
.companyDetails h2{color:#333}
.companyDetails p{color:#666;}
.companyLinks{background:#FFF;border:1px solid #EEE;}
.companyLinks ul li{border-right:1px solid #CCC;}
.companyLinks ul li a{background:url(../../../img/companyLinkIcons.png) no-repeat;}


/* feedbacks */
.feedback{background:#000;box-shadow:none;color:#AAA}
.featured{background:#FFF url(../../../img/silver/featured-bg.png) repeat-x;border:1px solid #CCC;}
.featured .feedbackAuthor img{border:1px solid #FFF;}
.featured .feedbackAuthor h2{color:#1b82af;}
.featured .feedbackAuthor h4{color:#666;}
.featured .feedbackTextTail{background:url(../../../img/featured-bubble-tail.png) no-repeat;}
.featured .feedbackTextBubble{background:#FFF;color:#555;}
.featured .feedbackDate{color:#AAA;text-shadow:#FFF 0px 1px;}
/* normal */
.normal{background:#FFF;border:1px solid #CCC;}
.normal .feedbackAuthor h2{color:#1b82af;}
.normal .feedbackAuthor h4{color:#666;}
.normal .feedbackText p{color:#555;}
.normal .feedbackTextTail{background:url(../../../img/normal-bubble-tail.png) no-repeat;}
.normal .feedbackTextBubble{background:#efefef;color:#333;}
.normal .feedbackMeta{color:#CCC;}
.normal .feedbackDate{color:#999;}
