@charset "utf-8";
/* CSS Document */

body{
	background:#FFF;
}
a{color:#4894b3;}
a:hover{color:#54a1c0;}

#headerWrapper{
	background:url(../images/gray-bg.jpg) repeat-x;
	box-shadow:#aaa 0px 1px 5px;
	border-top:#DDD 1px solid;
	border-bottom:#BBB 1px solid;
}

#headerTitle{
	color:#aaa;
	text-shadow:#EEE 0px 1px;
}
#headerTitle strong a{color:#5d96d5;}
#headerTitle span {text-shadow:#EEE 0px 1px;}
#headerTitle span a{color:#000;}
#headerTitle a:hover{color:#666;}

/* page style not the form style */
.companyDetails{color:#000;}
.companyDetails h2{}
.companyDetails p{color:#000;}
.companyLinks{background:#FFF;}
.companyLinks ul{}
.companyLinks ul li{}
.companyLinks ul li{border-right:1px solid #EEE;}
.companyLinks ul li a{background:url(../images/companyLinkIcons.png) no-repeat;}


/* feedbacks */
.feedback{background:#FFF;border:1px solid #d1d3d5;box-shadow:#DDD 0px 1px 3px;}
.featured{background:#e3f0f5;border:1px solid #bddeea;}
.featured .feedbackAuthor h2{color:#1982ad;}
.featured .feedbackAuthor h4{color:#2c2a2a;}
.featured .feedbackAuthor p{}
.featured .feedbackText{}
.featured .feedbackText p{}
.featured .feedbackText p:last-child{}
.featured .feedbackTextTail{background:url(../images/featured-bubble-tail.png) no-repeat;}
.featured .feedbackTextBubble{background:#FFF;}
.featured .feedbackMeta{}
.featured .feedbackMeta{}
.featured .feedbackTimestamp,
.featured .feedbackSocial,
.featured .feedbackSocialTwitter,
.featured .feedbackSocialFacebook{}
.featured .feedbackTimestamp{}
.featured .feedbackDate{color:#7bb5e5;text-shadow:#FFF 0px 1px;}
/* normal */
.normal .feedbackAuthor{}
.normal .feedbackAuthor .feedbackAuthorAvatar{}
.normal .feedbackAuthor .feedbackAuthorDetails{}
.normal .feedbackAuthor h2{color:#1982ad;}
.normal .feedbackAuthor h4{color:#2c2a2a;}
.normal .feedbackAuthor p{}
.normal .feedbackText{}
.normal .feedbackText p{color:#595959;}
.normal .feedbackText p:last-child{}
.normal .feedbackTextTail{background:url(../images/normal-bubble-tail.png) no-repeat;}
.normal .feedbackTextBubble{background:#efefef;}
.normal .feedbackMeta{color:#CCC;}
.normal .feedbackDate{color:#999;}
.normal .feedbackMeta{}
.normal .feedbackTimestamp,
.normal .feedbackSocial,
.normal .feedbackSocialTwitter,
.normal .feedbackSocialFacebook{}
.normal .feedbackTimestamp{}
.normal .feedbackSocialTwitter{}
.normal .feedbackSocialFacebook{}
